{%- capture bc_layout -%}
{%- case layout -%}

{%- when 'productGridItemHtml' -%}
<div class="grid__item {{ grid_item_width }} devProductContainer">
    <script class="bc-sf-filter-product-script" data-id="bc-product-json-[[itemId]]" type="application/json">[[itemJson]]</script>
    <div class="[[itemSoldOutClass]] [[itemSaleClass]]">
        <a href="[[itemUrl]]" class="grid-link [[textCenterClass]]">
            <span class="grid-link__image [[imageSoldOutClass]] grid-link__image--product">
                [[itemSaleLabel]]
                [[itemSoldOutLabel]]
                <span class="grid-link__image-centered">
                    [[imageStyle]]
                    [[itemImages]]
                </span>
            </span>
            [[itemReview]]
            <p class="grid-link__title">[[itemTitle]]</p>
            [[itemVendor]]
            [[itemPrice]]
        </a>
    </div>
</div>
{%- when 'vendorHtml' -%}
	<p class="grid-link__title grid-link__vendor">[[itemVendorLabel]]</p>

{%- when  'previousActiveHtml' -%} 
	<li><a href="[[itemUrl]]">&larr;</a></li>

{%- when 'previousDisabledHtml' -%}
	<li class="disabled"><span>&larr;</span></li>

{%- when 'nextActiveHtml' -%}
	<li><a href="[[itemUrl]]">&rarr;</a></li>

{%- when 'nextDisabledHtml' -%}
	<li class="disabled"><span>&rarr;</span></li>

{%- when 'pageItemHtml' -%}
	<li><a href="[[itemUrl]]">[[itemTitle]]</a></li>

{%- when 'pageItemSelectedHtml' -%}
	<li><span class="active">[[itemTitle]]</span></li>

{%- when 'pageItemRemainHtml' -%}
	<li><span>[[itemTitle]]</span></li>

{%- when 'paginateHtml' -%}
	<ul class="pagination-custom">[[previous]][[pageItems]][[next]]</ul>

{%- when 'sortingHtml' -%}
	<label  for="bc-sf-filter-top-sorting-select"> {%- assign temp = 'collections.sorting.title' | t -%} {%- unless temp contains 'translation missing' -%} {{ temp }} {%- else -%} Sorting {%- endunless -%} </label>
	<select id="bc-sf-filter-top-sorting-select">[[sortingItems]]</select>

{%- endcase -%}

{%- endcapture -%}

{%- assign str = '}}' -%}
{{- bc_layout | json | replace: '[[', '{{' | replace: ']]', str -}}