{% assign mycollection = product.title | split: ' ' | first | downcase %}


{% assign selected_color = product.title | strip_html | escape | downcase %}
{% assign mess_color = product.title | strip_html | escape | downcase | split: ' ' %}     
{% assign prodtitle_rug_color = product.title | strip_html | escape | split: ' ' | last | downcase %}

{%- capture color_picked -%}<span class="selected_color">{{selected_color}}</span>{%- endcapture -%}

<div class="visually-hidden transfercolor">{{color_picked}}</div>

<script>
  
  $(document).ready(function() {
    // $('.variant_choices span:contains("{{ mess[0] }}")').each(function(){
    //   $(this).html($(this).html().split("{{ mess[0] }}").join(""));
    // });  
    // $('.variant_choices span:contains("{{ mess[1] }}")').each(function(){
    //   $(this).html($(this).html().split("{{ mess[1] }}").join(""));
    // });         
    // $('.variant_choices span:contains("{{prodtitle_rug}}")').each(function(){
    //   $(this).html($(this).html().split("{{prodtitle_rug}}").join(""));
    // });   
    $('.selected_color:contains("{{ mess_color[0] }}")').each(function(){
      $(this).html($(this).html().split("{{ mess_color[0] }}").join(""));
    });  
    $('.selected_color:contains("{{ mess_color[1] }}")').each(function(){
      $(this).html($(this).html().split("{{ mess_color[1] }}").join(""));
    });         
    $('.selected_color:contains("{{prodtitle_rug_color}}")').each(function(){
      $(this).html($(this).html().split("{{prodtitle_rug_color}}").join(""));
    });  
    
    var ChoicesVariant = $(".variant_choices");
    ChoicesVariant.each(function(){
      var vm = $(this);
      setTimeout(function() {
        if (vm.children("a").data('qview') == "{{product.handle}}" ) {
          vm.addClass("SelectedColor");
        }      
        // console.log("{{product.handle}}");
      }, 4000);        
    });  
     
  });      

</script> 

<ul class="variant_list-item">
{% for product in collections[mycollection].products %}

    {% assign mycollection_last = product.title | strip_html | escape | downcase %}
    {% assign mess = product.title | strip_html | escape | downcase | split: ' ' %}     
    {% assign prodtitle_rug = product.title | strip_html | escape | split: ' ' | last | downcase %}     
    
    {% assign featured = product %}
    {% assign firstVariant = product.variants.first %}
    
    {% for variant_link in featured.variants %}
      
      {% assign variant_available = false %}
      {% if variant_link.title contains collection.title %}
        {% assign variant_available = true %}
      {% endif %}
      
      {% unless variant_available %}
          {% assign featured_link = firstVariant.url %}
          {% assign wanted_var_image = firstVariant.image %}      
        {% else%}
          {% assign featured_link = variant_link.url %}
          {% assign wanted_var_image = variant_link.image %}
        {% break %}        
      {% endunless %}
        
    {% endfor %}

    <li class="variant_choices">
      <a href="{{ featured_link | within: collection }}">
        <img src="{{ wanted_var_image | img_url: 'small' }}" alt="{{ wanted_var_image.alt | escape }}"/>
        <!-- <span>{{ mycollection_last }}</span> -->
      </a>
    </li>  
{% endfor %}
 

</ul>

