{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign on_clearance = false %}
{% assign clearance_text = 'Clearance' %}
{% if collection.title contains 'Clearance' %}
  {% assign on_clearance = true %}
{% endif %}

{% if product.title == '' %}
  {% capture product_title %}{{ 'home_page.onboarding.product_title' | t }}{% endcapture %}
{% else %}
  {% capture product_title %}{{ product.title | escape }}{% endcapture %}
{% endif %}

<div class="{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <a href="{{ product.url | within: collection }}" target="_blank" class="grid-link{% if section.settings.center_grid_link %} text-center{% endif %}">
    <span class="grid-link__image{% if section.settings.show_sold_out_circle %} grid-link__image-sold-out{% endif %} grid-link__image--product">
      {% if sold_out != true %}
        {% if on_clearance %}
          <span class="badge badge--clearance">
            <span class="badge__text{% if clearance_text.size > 7 %} badge__text--small{% endif %}">{{ 'Clearance'}}</span>
          </span>
        {% else %}
          {% if on_sale and section.settings.show_sale_circle %}
          <span class="badge badge--sale">
            <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
          </span>
          {% endif %}
        {% endif %}
      {% endif %}
      {% if sold_out and section.settings.show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
      <span class="grid-link__image-centered">
        {% unless section_onboarding %}
          {% assign featured_image = product.featured_image | default: product.featured_image %}
            {% for image in product.images %}
              {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
              {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% include 'image-style' with image: featured.featured_image, width: product_width, height: 480, wrapper_id: wrapper_id, img_id: img_id %}

              <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper supports-js {% unless featured_image == image %} hide{% endunless %}">
                <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                        class="product-single__image lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                        data-src="{{ img_url }}"
                        data-widths="[150, 220, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ image.alt | escape }}">
                </div>
              </div>
            {% endfor %}
            <noscript>
              <img src="{{ product | img_url: '1024x1024', scale: 2 }}" alt="{{ featured_image.alt | escape }}">
            </noscript>
          {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endunless %}
      </span>
    </span>
    <p class="grid-link__title">{{ product_title }}</p>
    {% if section.settings.vendor_enable %}
      <p class="grid-link__title grid-link__vendor">{{ product.vendor }}</p>
    {% endif %}
    {% if product.title != '' %}
      <p class="grid-link__meta">
        {% capture price %}{{ product.price | money }}{% endcapture %}
        <span class="collection_price_divident visually-hidden">
          {{product.price}}
        </span>

        {% if on_sale %}
        <span class="collection_msrp_price_container">
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="collection_msrp_price">
            <s class="grid-link__sale_price">{{ product.compare_at_price | money }}</s>
          </span> 
        </span>
        {% endif %}

        <span class="collection_msrp_price_container">
          {% if product.price_varies %}
            {% comment %} // Original code {{ 'products.general.from_html' | t: price: price }}{% endcomment %}
            ORIGNAL PRICE:
            <span class="collection_msrp_price">
              {{ price }}
            </span>
          {% else %}
            {% if on_sale %}
              <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            {{ price }}
          {% endif %}          
        </span>
        <span class="collection_now_price">
          Now: $<span class="collection_now_price_holder"></span>
        </span>
      </p>
    {% endif %}
  </a>
</div>