{% comment %}
  @param id {String}
         Name of icon to display

  @param icon_class {string}
         Custom class to add to SVG
{% endcomment %}

{%- capture icon -%}
  {%- capture shared_svg_attrs -%}
    class="{{ id | replace: '_', '-' }} {% if icon_class %}{{ icon_class }}{% endif %}"
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"
  {%- endcapture -%}

  {% if id == 'icon-cell-phone' %}
    <svg {{ shared_svg_attrs }} width="23" height="39" viewBox="0 0 23 39">
      <path fill="currentColor" fill-rule="evenodd" transform="translate(-154.000000, -121.000000)" d="M157.833333,160 L173.166667,160 C175.275511,160 177,158.270825 177,156.15625 L177,124.84375 C177,122.729175 175.275511,121 173.166667,121 L157.833333,121 C155.724489,121 154,122.729175 154,124.84375 L154,156.15625 C154,158.270825 155.724489,160 157.833333,160 Z M165.5,158.71875 C164.4144,158.71875 163.583333,157.885425 163.583333,156.796875 C163.583333,155.708325 164.4144,154.875 165.5,154.875 C166.5856,154.875 167.416667,155.708325 167.416667,156.796875 C167.416667,157.885425 166.5856,158.71875 165.5,158.71875 Z M162.946181,123.5625 L168.053819,123.5625 C168.407627,123.5625 168.694444,123.849318 168.694444,124.203125 L168.694444,124.203125 C168.694444,124.556932 168.407627,124.84375 168.053819,124.84375 L162.946181,124.84375 C162.592373,124.84375 162.305556,124.556932 162.305556,124.203125 L162.305556,124.203125 C162.305556,123.849318 162.592373,123.5625 162.946181,123.5625 Z M156,127.016304 L175,127.016304 L175,153.092391 L156,153.092391 L156,127.016304 Z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-chat' %}
    <svg {{ shared_svg_attrs }} width="45" height="44" viewBox="0 0 45 44">
      <path fill="currentColor" fill-rule="nonzero" d="M36.474 42.863a1 1 0 0 1-1.648.882l-11.638-10.12H7a7 7 0 0 1-7-7V7a7 7 0 0 1 7-7h31a7 7 0 0 1 7 7v19.625a7 7 0 0 1-7 7h-2.711l1.185 9.238zm-3.458-11.238H38a5 5 0 0 0 5-5V7a5 5 0 0 0-5-5H7a5 5 0 0 0-5 5v19.625a5 5 0 0 0 5 5h16.936l10.22 8.887-1.14-8.887zM9.889 22C9.4 22 9 21.55 9 21s.4-1 .889-1h6.222c.489 0 .889.45.889 1 .002.55-.398 1-.887 1H9.89zm.055-5C9.425 17 9 16.55 9 16s.425-1 .944-1h15.112c.519 0 .944.45.944 1 .002.55-.423 1-.942 1H9.944zm0-6C9.425 11 9 10.55 9 10s.425-1 .944-1h15.112c.519 0 .944.45.944 1 .002.55-.423 1-.942 1H9.944z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-chat-alternate' %}
    <svg {{ shared_svg_attrs }} width="48" height="43" viewBox="0 0 48 43">
      <path fill="currentColor" fill-rule="nonzero" transform="translate(-356.000000, -121.000000)" d="M381,153.103862 L381,154.526017 C381,156.635218 379.258885,158.345064 377.111111,158.345064 L368.117955,158.345064 L361.652358,163.866117 C361.420822,164.063829 361.069917,164.03978 360.86859,163.812402 C360.764575,163.694928 360.716614,163.539414 360.736781,163.385006 L361.252518,159.43622 L361.39503,159.43622 L361.270648,159.297405 L361.39503,158.345064 L360.417329,158.345064 L360.292947,158.206249 L360.274817,158.345064 L359.888889,158.345064 C357.741115,158.345064 356,156.635218 356,154.526017 L356,143.819047 C356,141.709845 357.741115,140 359.888889,140 L361,140 L361,127.683332 C361,123.99223 363.994718,121 367.688889,121 L397.311111,121 C401.005282,121 404,123.99223 404,127.683332 L404,146.42053 C404,150.111632 401.005282,153.103862 397.311111,153.103862 L394.720549,153.103862 L395.852737,161.923761 C395.887423,162.193974 395.804931,162.466124 395.626026,162.671703 C395.279743,163.069614 394.676187,163.1117 394.277945,162.765706 L383.157118,153.103862 L381,153.103862 Z M392.548661,151.194338 L397.311111,151.194338 C399.949805,151.194338 402.088889,149.057032 402.088889,146.42053 L402.088889,127.683332 C402.088889,125.04683 399.949805,122.909523 397.311111,122.909523 L367.688889,122.909523 C365.050195,122.909523 362.911111,125.04683 362.911111,127.683332 L362.911111,146.42053 C362.911111,149.057032 365.050195,151.194338 367.688889,151.194338 L383.871803,151.194338 L393.637832,159.679125 L392.548661,151.194338 Z M370.888509,142 C370.400085,142 370,141.549712 370,141 C370,140.450288 370.400085,140 370.888509,140 L377.111486,140 C377.59991,140 377.999995,140.450288 377.999995,141 C378.001659,141.549712 377.601578,142 377.11315,142 L370.888509,142 Z M370.888414,137 C370.400043,137 370,136.549712 370,136 C370,135.450288 370.400043,135 370.888414,135 L385.11158,135 C385.599952,135 385.999995,135.450288 385.999995,136 C386.001659,136.549712 385.601621,137 385.113245,137 L370.888414,137 Z M370.888414,132 C370.400043,132 370,131.549712 370,131 C370,130.450288 370.400043,130 370.888414,130 L385.11158,130 C385.599952,130 385.999995,130.450288 385.999995,131 C386.001659,131.549712 385.601621,132 385.113245,132 L370.888414,132 Z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-chat-solid' %}
    <svg {{ shared_svg_attrs }} width="45" height="44" viewBox="0 0 45 44">
      <path fill="currentColor" fill-rule="nonzero" d="M36.474 42.873a1 1 0 0 1-1.648.882L23.188 33.633H7a7 7 0 0 1-7-7.002V7.001A7 7 0 0 1 7 0h31a7 7 0 0 1 7 7.002V26.63a7 7 0 0 1-7 7.002h-2.711l1.185 9.24zM9.889 22.005h6.224c.489 0 .889-.45.887-1 0-.55-.4-1-.889-1H9.89c-.489 0-.889.45-.889 1s.4 1 .889 1zm.055-5.001h15.114c.519 0 .944-.45.942-1 0-.55-.425-1-.944-1H9.944c-.519 0-.944.45-.944 1s.425 1 .944 1zm0-6.002h15.114c.519 0 .944-.45.942-1 0-.55-.425-1-.944-1H9.944c-.519 0-.944.45-.944 1s.425 1 .944 1z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-credit-card' %}
    <svg {{ shared_svg_attrs }} width="48" height="37" viewBox="0 0 48 37">
      <path fill="currentColor" fill-rule="nonzero" d="M45.918 8.348l-.005-3.205c0-1.788-1.127-3.086-2.908-3.086H5.217c-1.781 0-3.13 1.298-3.13 3.086l-.005 3.205h43.836zm.011 6.26H2.071L2.043 31.35c0 1.788 1.282 3.086 3.063 3.086h37.788c1.781 0 3.063-1.298 3.063-3.086l-.028-16.74zM5.217 0h37.788C45.962 0 48 2.178 48 5.143v26.236c0 2.965-2.149 5.143-5.106 5.143H5.106C2.15 36.522 0 34.344 0 31.379V5.143C0 2.178 2.26 0 5.217 0z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-delivery' %}
    <svg width="60" height="40" viewBox="0 0 60 40">
      <path fill="currentColor" fill-rule="evenodd" transform="translate(-263.000000, -117.000000)" d="M289,151.5 C289,154.537566 286.537566,157 283.5,157 C280.462434,157 278,154.537566 278,151.5 C278,151.331455 278.007581,151.164681 278.022422,151 L271,151 L271,140 L273,140 L273,149 L278.59971,149 C279.510065,147.219162 281.362657,146 283.5,146 C285.637343,146 287.489935,147.219162 288.40029,148.999999 L301,149 L301,119 L271,119 L271,117 L303,117 L303,126 L316.723739,126 C317.85789,126 318.895087,126.639588 319.404327,127.652985 L320.786845,130.404226 C322.242105,133.300224 323,136.496398 323,139.737476 L323,148 C323,149.656854 321.656854,151 320,151 L316.977578,151 C316.992419,151.164681 317,151.331455 317,151.5 C317,154.537566 314.537566,157 311.5,157 C308.462434,157 306,154.537566 306,151.5 C306,151.331455 306.007581,151.164681 306.022422,151 L288.977578,151 C288.992419,151.164681 289,151.331455 289,151.5 Z M319.417229,134.516568 L319.417798,134.118058 C319.418189,133.844298 319.362374,133.573373 319.253808,133.32206 L317.177681,128.516129 L310.567164,128.516129 C310.014879,128.516129 309.567164,128.963844 309.567164,129.516129 L309.567164,134.330091 C309.567164,134.882376 310.014879,135.330091 310.567164,135.330091 L318.602544,135.330091 C319.052028,135.330091 319.416588,134.966052 319.417229,134.516568 Z M311.5,155 C313.432997,155 315,153.432997 315,151.5 C315,149.567003 313.432997,148 311.5,148 C309.567003,148 308,149.567003 308,151.5 C308,153.432997 309.567003,155 311.5,155 Z M283.5,155 C285.432997,155 287,153.432997 287,151.5 C287,149.567003 285.432997,148 283.5,148 C281.567003,148 280,149.567003 280,151.5 C280,153.432997 281.567003,155 283.5,155 Z M264,123 L280,123 C280.552285,123 281,123.447715 281,124 C281,124.552285 280.552285,125 280,125 L264,125 C263.447715,125 263,124.552285 263,124 C263,123.447715 263.447715,123 264,123 Z M267,128 L280,128 C280.552285,128 281,128.447715 281,129 C281,129.552285 280.552285,130 280,130 L267,130 C266.447715,130 266,129.552285 266,129 C266,128.447715 266.447715,128 267,128 Z M271,133 L280,133 C280.552285,133 281,133.447715 281,134 C281,134.552285 280.552285,135 280,135 L271,135 C270.447715,135 270,134.552285 270,134 C270,133.447715 270.447715,133 271,133 Z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-email' %}
    <svg {{ shared_svg_attrs }} width="43" height="43" viewBox="0 0 43 43">
      <path fill="currentColor" fill-rule="nonzero" d="M6.19 6.26A21.247 21.247 0 0 0 0 21.348C.052 33 9.843 42.5 21.832 42.5h.824v-3.125h-.824c-10.262 0-18.663-8.084-18.707-18.043A18.126 18.126 0 0 1 21.25 3.125c10.042.045 18.125 8.445 18.125 18.707v6.45a4.06 4.06 0 0 1-4.062 4.062 4.06 4.06 0 0 1-4.063-4.063v-7.035a10.043 10.043 0 0 0-3.614-7.747 10.035 10.035 0 1 0-1.055 16.194l1.383-.872.48 1.562a7.185 7.185 0 0 0 7.93 4.995A7.19 7.19 0 0 0 42.5 28.28v-6.45C42.5 9.844 33.003.054 21.352 0 15.596 0 10.175 2.253 6.189 6.26zm15.06 21.865a6.876 6.876 0 1 1 2.632-13.227 6.876 6.876 0 0 1-2.632 13.227z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-envelope' %}
    <svg {{ shared_svg_attrs }} width="48" height="37" viewBox="0 0 48 37">
      <path fill="currentColor" fill-rule="nonzero" d="M5.217 0h37.788C45.962 0 48 2.178 48 5.143v26.236c0 2.965-2.149 5.143-5.106 5.143H5.106C2.15 36.522 0 34.344 0 31.379L.111 5.143C.111 2.178 2.26 0 5.217 0zm0 2.057c-1.781 0-3.063 1.298-3.063 3.086l-.111 26.206c0 1.788 1.282 3.086 3.063 3.086h37.788c1.781 0 3.063-1.298 3.063-3.086l-.044-26.206c0-1.788-1.127-3.086-2.908-3.086H5.217zm36.616 4.944v.001a.838.838 0 0 1 .105 0 1.118 1.118 0 0 1 .75 1.99l-11.714 9.673 10.493 8.694a1.117 1.117 0 1 1-1.414 1.71L29.21 20.132l-1.502 1.24c-2.051 1.7-5.154 1.713-7.21.017v-.018l-1.52-1.257L8.139 29.07a1.119 1.119 0 0 1-1.624-.096 1.12 1.12 0 0 1 .192-1.615l10.51-8.712L5.554 9.009a1.115 1.115 0 0 1-.435-.76 1.116 1.116 0 0 1 1.849-.968l14.945 12.378c1.135.936 3.254.934 4.382 0L41.257 7.263c.164-.142.363-.234.576-.262z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-gift-card' %}
    <svg {{ shared_svg_attrs }} width="48" height="37" viewBox="0 0 48 37">
      <path fill="currentColor" fill-rule="nonzero" d="M45.933 16.696l-.02-11.553c0-1.788-1.127-3.086-2.908-3.086H5.217c-1.781 0-3.13 1.298-3.13 3.086l-.02 11.553h16.481C14.241 15.389 12 13.339 12 10.435l.006-.115c.33-2.975 3.095-5.399 5.847-5.096 2.333.256 4.338 2.313 5.55 5.345a1.043 1.043 0 0 1-1.937.775c-.956-2.39-2.417-3.89-3.841-4.046-1.548-.17-3.3 1.35-3.537 3.194.046 2.351 2.981 4.135 9.177 5.115.755-4.137 1.802-7.498 2.967-8.663a5.87 5.87 0 0 1 4.173-1.727c1.576 0 3.061.614 4.174 1.727a5.868 5.868 0 0 1 1.727 4.174c0 1.576-.614 3.06-1.727 4.174-.493.493-1.381.966-2.555 1.404h13.909zm-9.411 9.913c-.346.46-1 .554-1.461.208l-10.018-7.513v15.13h17.85c1.782 0 3.064-1.297 3.064-3.085l-.02-12.566h-18.11l8.486 6.365c.461.346.555 1 .209 1.46zM2.064 18.783l-.021 12.566c0 1.788 1.282 3.086 3.063 3.086h17.85V19.242c-4.152 1.732-6.936 4.638-8.408 8.761a1.043 1.043 0 1 1-1.965-.702c1.31-3.671 3.564-6.518 6.732-8.518H2.064zM5.217 0h37.788C45.962 0 48 2.178 48 5.143v26.236c0 2.965-2.149 5.143-5.106 5.143H5.106C2.15 36.522 0 34.344 0 31.379V5.143C0 2.178 2.26 0 5.217 0zm27.886 13.816a3.781 3.781 0 0 0 1.116-2.698 3.781 3.781 0 0 0-1.116-2.698 3.781 3.781 0 0 0-2.698-1.116 3.783 3.783 0 0 0-2.698 1.116c-.776.777-1.75 4.017-2.436 7.832 3.815-.686 7.056-1.66 7.832-2.436z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-heart' %}
    <svg {{ shared_svg_attrs }} width="49" height="42" viewBox="0 0 49 42">
      <path fill="currentColor" fill-rule="nonzero" d="M48.25 12.99v2.012c0 .096-.011.191-.033.284l-.067.29a18.09 18.09 0 0 1-2.278 6.737 30.44 30.44 0 0 1-3.33 4.477 53.127 53.127 0 0 1-5.072 5.077c-1.904 1.656-3.469 2.944-5.018 4.106-1.243.935-2.276 1.674-4.518 3.25l-.134.094a304.6 304.6 0 0 0-2.248 1.59 1.663 1.663 0 0 1-2.044-.016c-.506-.356-.954-.666-1.843-1.278l-.162-.111c-1.982-1.364-2.942-2.042-4.056-2.893-1.785-1.362-3.393-2.687-6.054-4.952a45.244 45.244 0 0 1-6.987-7.44 18.177 18.177 0 0 1-3.249-7.172 21.208 21.208 0 0 1-.385-1.748 1.25 1.25 0 0 1-.022-.232v-2.074c0-.092.01-.184.03-.273l.029-.132c.033-.15.033-.15.048-.21.049-.224.086-.407.167-.823.076-.392.111-.568.16-.792.09-.416.18-.776.289-1.126 1.066-3.351 3.326-6.11 6.314-7.768A13.518 13.518 0 0 1 17.053.242 13.63 13.63 0 0 1 24.48 4.06a19.433 19.433 0 0 1 .282-.268 13.929 13.929 0 0 1 18.948-.07 13.632 13.632 0 0 1 4.072 6.806c.14.48.215.866.351 1.676.047.28.066.395.091.532.017.082.026.167.026.254zM26.362 37.273l.134-.094c2.22-1.56 3.239-2.29 4.454-3.204 1.496-1.122 3.017-2.373 4.877-3.99a50.7 50.7 0 0 0 4.843-4.85 27.952 27.952 0 0 0 3.051-4.096 15.625 15.625 0 0 0 1.956-5.822c.019-.117.039-.213.073-.36v-1.752a50.7 50.7 0 0 1-.083-.487c-.12-.716-.183-1.036-.3-1.442a11.188 11.188 0 0 0-3.346-5.608 11.43 11.43 0 0 0-15.695.187c-.139.132-.283.275-.483.476-.023.022-.44.444-.58.583a1.25 1.25 0 0 1-2.016-.353 1.189 1.189 0 0 0-.089-.157 11.15 11.15 0 0 0-6.536-3.599A11.055 11.055 0 0 0 9.024 4.04a11.015 11.015 0 0 0-5.13 6.225c-.108.345-.186.653-.266 1.024a34.83 34.83 0 0 0-.15.743c-.085.436-.125.633-.186.908l-.026.113c-.01.045-.015.677-.016 1.895.121.635.205 1.017.338 1.516a15.799 15.799 0 0 0 2.82 6.257 42.694 42.694 0 0 0 6.513 6.956c2.703 2.3 4.291 3.61 6.042 4.946 1.072.817 2.008 1.48 3.957 2.82l.162.112c.657.451 1.076.74 1.456 1.006.48-.342.995-.706 1.824-1.288zm5.24-27.702a1.25 1.25 0 0 1-.961-2.308 8.497 8.497 0 0 1 9.022 1.59 8.308 8.308 0 0 1 2.483 4.14c.087.3.133.534.214 1.018.028.169.039.23.054.314a1.25 1.25 0 1 1-2.46.447c-.018-.1-.03-.168-.06-.349a6.468 6.468 0 0 0-.163-.785 5.864 5.864 0 0 0-1.756-2.94 5.998 5.998 0 0 0-6.373-1.127z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-label-tag' %}
    <svg {{ shared_svg_attrs }} width="40" height="47" viewBox="0 0 40 47">
      <path fill="currentColor" fill-rule="evenodd" d="M28.916 6.543V.75h2.028v5.793h3.62c1.321 0 2.537.529 3.54 1.48 1.006.95 1.48 2.22 1.48 3.54v9.777c0 1.11-.264 2.273-.792 3.54-.529 1.268-1.162 2.273-1.955 3.012l-16.805 16.91c-.952.952-2.168 1.427-3.54 1.427-1.322 0-2.538-.475-3.49-1.427L1.432 33.23C.479 32.28.004 31.063.004 29.69c-.054-1.321.421-2.537 1.321-3.542L18.235 9.29c.794-.793 1.797-1.427 3.066-1.955 1.268-.529 2.432-.793 3.54-.793h4.075zm0 2.008h-4.128c-.847 0-1.745.21-2.748.634-1.003.423-1.796.898-2.378 1.532L2.803 27.522c-.582.634-.846 1.321-.846 2.167-.052.793.266 1.532.846 2.114l11.521 11.572c.634.583 1.321.847 2.168.847.846 0 1.531-.318 2.114-.847L35.462 26.52c.582-.582 1.11-1.375 1.532-2.378.423-1.003.634-1.904.634-2.748l.002-9.83c0-.793-.318-1.532-.898-2.114-.582-.582-1.321-.898-2.114-.898h-3.674v4.67a3 3 0 0 1 1.242.772c.582.582.898 1.32.898 2.113 0 .847-.318 1.532-.898 2.114-.582.582-1.32.898-2.114.898-.846 0-1.531-.318-2.113-.898-.582-.582-.898-1.32-.898-2.114 0-.846.318-1.531.898-2.113.29-.317.608-.542.957-.687V8.551zM11.934 30.725a.986.986 0 0 1-.7-1.686l8.569-8.568a.986.986 0 0 1 1.397 0 .986.986 0 0 1 0 1.397l-8.568 8.568a.98.98 0 0 1-.698.29zm3.37 3.576a.986.986 0 0 1 0-1.397l3.845-3.844a.986.986 0 0 1 1.397 0 .986.986 0 0 1 0 1.397l-3.844 3.844a.986.986 0 0 1-1.397 0z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-lock-alternate' %}
    <svg {{ shared_svg_attrs }} width="28" height="37" viewBox="0 0 28 37">
      <path fill="currentColor" fill-rule="evenodd" transform="translate(-206.000000, -121.000000)" d="M209.230769,138 L208.153846,138 C206.961262,138 206,138.964008 206,140.16 L206.079772,155.84 C206.079772,157.035992 207.041034,158 208.233618,158 L231.846154,158 C233.038738,158 234,157.035992 234,155.84 L233.920228,140.16 C233.920228,138.964008 232.958966,138 231.766382,138 L230.689459,138 L209.230769,138 Z M220,143 C221.652709,143 223,144.402348 223,146.128804 C223,147.441758 222.217874,148.564809 221.114286,149.028545 L221.114286,153 L219.057143,153 L219.057143,149.084398 C217.86784,148.668178 217,147.50884 217,146.128804 C217,144.402348 218.347291,143 220,143 Z M213.784135,135 C213.784135,135.552285 213.33642,136 212.784135,136 L212,136 C211.447715,136 211,135.552285 211,135 L211,128.385573 C211,124.313259 214.453985,121 219.748886,121 C225.043788,121 228.5,124.313312 228.5,128.385573 L228.5,135 C228.5,135.552285 228.052285,136 227.5,136 L226.71592,136 C226.163636,136 225.71592,135.552285 225.71592,135 L225.71592,128.385573 C225.71592,125.785409 223.506085,123.669023 219.748942,123.669023 C215.991799,123.669023 213.784135,125.785409 213.784135,128.385573 L213.784135,135 Z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-people' %}
    <svg {{ shared_svg_attrs }} width="46" height="37" viewBox="0 0 46 37">
      <path fill="currentColor" fill-rule="nonzero" d="M12.619 14.925c-2.724 0-6.056-3.23-6.056-6.525 0-5.277 1.467-8.4 6.056-8.4 4.588 0 6.056 3.123 6.056 8.4 0 3.295-3.333 6.525-6.056 6.525zM1.826 26.25H9.39a.9.9 0 0 1 0 1.8H.9a.9.9 0 0 1-.9-.9c0-6.411 5.41-9.337 12.786-9.337 2.45 0 4.46.15 6.09.451a.9.9 0 0 1-.327 1.77c-1.511-.28-3.415-.421-5.763-.421-5.948 0-10.67 1.94-10.96 6.637zM29.9 16.787c2.728 0 5.638-3.264 5.638-7.106 0-4.617-2.134-6.981-5.638-6.981s-5.638 2.364-5.638 6.981c0 3.842 2.91 7.106 5.638 7.106zm0 2c-3.647 0-7.638-3.939-7.638-9.106C22.262 3.743 25.476.7 29.9.7c4.424 0 7.638 3.043 7.638 8.981 0 5.167-3.99 9.106-7.638 9.106zM43.947 34.6c-.424-6.81-5.605-10.338-14.516-10.338-8.966 0-14.1 3.474-14.516 10.338h29.032zm-31.06.925c0-9.331 6.998-13.263 16.544-13.263 9.547 0 16.544 4.033 16.544 13.263 0 .594-.481 1.075-1.075 1.075H13.962a1.075 1.075 0 0 1-1.075-1.075z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-people-alternate' %}
    <svg {{ shared_svg_attrs }} width="46" height="37" viewBox="0 0 46 37">
      <path fill="currentColor" fill-rule="nonzero" d="M12.619 13.125c1.742 0 4.256-2.437 4.256-4.725 0-4.403-1.033-6.6-4.256-6.6-3.224 0-4.256 2.197-4.256 6.6 0 2.288 2.514 4.725 4.256 4.725zm0 1.8c-2.724 0-6.056-3.23-6.056-6.525 0-5.277 1.467-8.4 6.056-8.4 4.588 0 6.056 3.123 6.056 8.4 0 3.295-3.333 6.525-6.056 6.525zM29.9 18.787c-3.647 0-7.638-3.939-7.638-9.106C22.262 3.743 25.476.7 29.9.7c4.424 0 7.638 3.043 7.638 8.981 0 5.167-3.99 9.106-7.638 9.106zM12.887 35.525c0-9.331 6.998-13.263 16.544-13.263 9.547 0 16.544 4.033 16.544 13.263 0 .594-.481 1.075-1.075 1.075H13.962a1.075 1.075 0 0 1-1.075-1.075zM1.827 26.25H9.39a.9.9 0 0 1 0 1.8H.9a.9.9 0 0 1-.9-.9c0-6.411 5.41-9.337 12.786-9.337 2.45 0 4.46.15 6.09.451a.9.9 0 0 1-.327 1.77c-1.511-.28-3.415-.421-5.763-.421-5.948 0-10.67 1.94-10.96 6.637z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-pin' %}
    <svg {{ shared_svg_attrs }} width="31" height="40" viewBox="0 0 31 40">
      <path fill="currentColor" fill-rule="evenodd" d="M14.774 39.849C14.17 39.504 0 27.242 0 15.35 0 6.887 6.887 0 15.351 0c8.465 0 15.351 6.887 15.351 15.351 0 11.054-14.13 24.093-14.734 24.47a1.166 1.166 0 0 1-1.194.027zm.574-37.815C8.045 2.034 2.1 7.977 2.1 15.284c0 9.398 10.572 20.573 13.252 22.275 2.667-1.828 13.246-13.543 13.246-22.276 0-7.306-5.945-13.249-13.249-13.249zm0 7.924c-2.46 0-4.46 2-4.46 4.46s2 4.46 4.46 4.46 4.46-2 4.46-4.46-2-4.46-4.46-4.46z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-pin-solid' %}
    <svg {{ shared_svg_attrs }} width="31" height="40" viewBox="0 0 31 40">
        <path fill="currentColor" fill-rule="evenodd" d="M14.774 39.849C14.17 39.504 0 27.242 0 15.35 0 6.887 6.887 0 15.351 0c8.465 0 15.351 6.887 15.351 15.351 0 11.054-14.13 24.093-14.734 24.47a1.166 1.166 0 0 1-1.194.027zm.574-30.533a5.107 5.107 0 0 0-5.102 5.102 5.107 5.107 0 0 0 5.102 5.102 5.107 5.107 0 0 0 5.102-5.102 5.107 5.107 0 0 0-5.102-5.102z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-question-mark' %}
    <svg {{ shared_svg_attrs }} width="45" height="45" viewBox="0 0 45 45">
      <path fill="currentColor" fill-rule="nonzero" d="M22.5 45C10.074 45 0 34.926 0 22.5S10.074 0 22.5 0 45 10.074 45 22.5 34.926 45 22.5 45zm0-2C33.822 43 43 33.822 43 22.5S33.822 2 22.5 2 2 11.178 2 22.5 11.178 43 22.5 43zm-1.992-17.292c0-.499.028-.924.085-1.275a3.13 3.13 0 0 1 .306-.952c.147-.283.34-.555.578-.816.238-.26.527-.572.867-.935l2.618-2.652c.567-.567.85-1.303.85-2.21 0-.884-.289-1.604-.867-2.159-.578-.555-1.309-.833-2.193-.833-.952 0-1.734.323-2.346.969-.612.646-.963 1.434-1.054 2.363L15 16.868c.136-1.088.42-2.057.85-2.907.43-.85.992-1.57 1.683-2.159a7.205 7.205 0 0 1 2.397-1.343c.907-.306 1.904-.459 2.992-.459 1.02 0 1.966.147 2.839.442.873.295 1.632.72 2.278 1.275a5.716 5.716 0 0 1 1.513 2.074c.363.827.544 1.774.544 2.839 0 .748-.102 1.405-.306 1.972a6.413 6.413 0 0 1-.816 1.564c-.34.476-.731.93-1.173 1.36-.442.43-.912.884-1.411 1.36-.317.295-.59.555-.816.782a3.88 3.88 0 0 0-.561.697c-.147.238-.255.51-.323.816a5.167 5.167 0 0 0-.102 1.105c0 .714-.578 1.292-1.292 1.292h-.918a1.87 1.87 0 0 1-1.87-1.87zm-.68 6.596c0-.725.266-1.349.799-1.87a2.648 2.648 0 0 1 1.921-.782c.725 0 1.36.25 1.904.748.544.499.816 1.11.816 1.836 0 .725-.266 1.349-.799 1.87a2.648 2.648 0 0 1-1.921.782c-.363 0-.708-.068-1.037-.204a2.957 2.957 0 0 1-.867-.544 2.528 2.528 0 0 1-.595-.816 2.393 2.393 0 0 1-.221-1.02z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-smile' %}
    <svg {{ shared_svg_attrs }} width="45" height="45" viewBox="0 0 45 45">
      <path fill="currentColor" fill-rule="nonzero" d="M22.5 45C10.074 45 0 34.926 0 22.5S10.074 0 22.5 0 45 10.074 45 22.5 34.926 45 22.5 45zm0-2C33.822 43 43 33.822 43 22.5S33.822 2 22.5 2 2 11.178 2 22.5 11.178 43 22.5 43zm13.643-15.795c-.632 1.307-4.253 7.848-13.613 8.164-.187.007-.37.01-.55.012-9.146 0-12.967-7.845-13.127-8.183-.27-.574-.063-1.271.464-1.568.527-.296 1.172-.068 1.444.5.146.31 3.56 7.173 11.7 6.916 8.343-.282 11.451-6.242 11.78-6.92.276-.569.925-.788 1.448-.491.525.296.73 1.001.454 1.57zM16.947 16.299c0 1.656-.884 3-1.973 3-1.09 0-1.974-1.345-1.974-3s.885-2.999 1.974-2.999 1.973 1.344 1.973 3zm14.986 0c0 1.656-.883 3-1.972 3-1.088 0-1.973-1.345-1.973-3S28.87 13.3 29.96 13.3c1.092 0 1.972 1.344 1.972 3z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-store' %}
    <svg {{ shared_svg_attrs }} width="44" height="40" viewBox="0 0 44 40">
      <path fill="currentColor" fill-rule="evenodd" d="M39.555 5L44 9.13c0 2.663-2.13 4.87-4.702 4.87a4.621 4.621 0 0 1-4.324-2.922c-.752 1.69-2.38 2.922-4.325 2.922a4.621 4.621 0 0 1-4.324-2.922C25.573 12.768 23.945 14 22 14a4.621 4.621 0 0 1-4.325-2.922c-.751 1.69-2.38 2.922-4.324 2.922a4.621 4.621 0 0 1-4.325-2.922C8.275 12.768 6.646 14 4.702 14 2.13 14 0 11.793 0 9.13L4.325 5h35.23zM5 2V0h34v2H5zm32 15h.549c1.324 0 1.448.848 1.448 1.891L39 38.111C39 39.152 37.94 40 36.616 40H7.384C6.06 40 5 39.155 5 38.111V18.89C5 17.848 5.06 17 6.384 17h.654L7 33h30V17zm-8.35 1.313a.73.73 0 0 1 1.05-.156c.331.259.398.75.15 1.095l-7.5 10.435a.73.73 0 0 1-1.05.156.805.805 0 0 1-.15-1.095l7.5-10.435zm-8 0a.73.73 0 0 1 1.05-.156c.331.259.398.75.15 1.095l-7.5 10.435a.73.73 0 0 1-1.05.156.805.805 0 0 1-.15-1.095l7.5-10.435z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-transfer' %}
    <svg {{ shared_svg_attrs }} width="45" height="45" viewBox="0 0 45 45">
      <path fill="currentColor" fill-rule="nonzero" d="M22.5 45C10.074 45 0 34.926 0 22.5S10.074 0 22.5 0 45 10.074 45 22.5 34.926 45 22.5 45zm0-2C33.822 43 43 33.822 43 22.5S33.822 2 22.5 2 2 11.178 2 22.5 11.178 43 22.5 43zm3.274-6.72a.5.5 0 0 1-.828-.378l.001-3.431H14.5a.5.5 0 0 1-.5-.5v-3.942a.5.5 0 0 1 .5-.5h10.447v-3.432a.5.5 0 0 1 .828-.377l6.79 5.903a.5.5 0 0 1 0 .754l-6.791 5.903zm-6.548-14l-6.792-5.903a.5.5 0 0 1 0-.754l6.79-5.903a.5.5 0 0 1 .829.377v3.432H30.5a.5.5 0 0 1 .5.5v3.942a.5.5 0 0 1-.5.5H20.053l.001 3.431a.5.5 0 0 1-.828.378z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-grid' %}
    <svg {{ shared_svg_attrs }} width="20" height="20" viewBox="0 0 20 20">
      <path fill="currentColor" fill-rule="nonzero" d="M2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v16h16V2H2zm3 3h4v4H5V5zm6 0h4v4h-4V5zm-6 6h4v4H5v-4zm6 0h4v4h-4v-4z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-list' %}
    <svg {{ shared_svg_attrs }} width="20" height="20" viewBox="0 0 20 20">
      <path fill="currentColor" fill-rule="nonzero" d="M2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v16h16V2H2zm3 3h10v2H5V5zm0 4h10v2H5V9zm0 4h10v2H5v-2z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-play' %}
    <svg {{ shared_svg_attrs }} width="77" height="77" viewBox="0 0 77 77">
      <path fill="currentColor" fill-rule="nonzero" d="M38.5 76.5c-20.987 0-38-17.013-38-38s17.013-38 38-38 38 17.013 38 38-17.013 38-38 38zm0-3c19.33 0 35-15.67 35-35s-15.67-35-35-35-35 15.67-35 35 15.67 35 35 35zm-7.68-20.588c-1.007.572-1.82.22-1.82-.792V24.88c0-1.01.811-1.366 1.82-.792l23.426 13.374c1.003.572 1.008 1.5 0 2.075L30.819 52.912z"/>
    </svg>
  {% endif %}

  {% if id == 'icon-loading' %}
    <svg {{ shared_svg_attrs }} width="77" height="77" viewBox="0 0 77 77">
      <g fill="none" fill-rule="evenodd">
        <path fill="currentColor" fill-opacity=".29" fill-rule="nonzero" d="M38.5 76.5c-20.987 0-38-17.013-38-38s17.013-38 38-38 38 17.013 38 38-17.013 38-38 38zm0-3c19.33 0 35-15.67 35-35s-15.67-35-35-35-35 15.67-35 35 15.67 35 35 35z"/>
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M38.5 75C58.658 75 75 58.658 75 38.5" opacity=".9"/>
      </g>
    </svg>
  {% endif %}
{%- endcapture -%}

{{ icon | strip_newlines }}
