{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if featured.compare_at_price > featured.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if featured.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign on_clearance = false %}
{% assign clearance_text = 'Clearance' %}
{% if collection.title contains 'Clearance' %}
  {% assign on_clearance = true %}
{% endif %}

{% if featured.title == '' %}
  {% comment %}add default state for product block in storefront editor{% endcomment %}
  {% capture product_title %}{{ 'home_page.onboarding.product_title' | t }}{% endcapture %}
{% else %}
  {% capture product_title %}{{ featured.title | escape }}{% endcapture %}
{% endif %}

<div class="{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <a href="{{ featured.url | within: collection }}" target="_blank" class="grid-link{% if section.settings.center_grid_link %} text-center{% endif %}">
    <span class="grid-link__image{% if section.settings.show_sold_out_circle %} grid-link__image-sold-out{% endif %} grid-link__image--product">
      {% if sold_out != true %}

        {% if on_clearance %}
            <span class="badge badge--clearance">
              <span class="badge__text{% if clearance_text.size > 7 %} badge__text--small{% endif %}">{{ 'Clearance'}}</span>
            </span>
        {% else %}
          {% if on_sale and section.settings.show_sale_circle %}
          <span class="badge badge--sale">
            <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
          </span>
          {% endif %}
        {% endif %}

      {% endif %}
      {% if sold_out and section.settings.show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
      {% endif %}
      <span class="grid-link__image-centered">
        {% if featured.title != '' %}
          {% unless featured.featured_image == blank %}
            {% capture img_id %}ProductImage-{{ featured.featured_image.id }}{% endcapture %}
            {% capture wrapper_id %}ProductImageWrapper-{{ featured.featured_image.id }}{% endcapture %}
            {%- assign img_url = featured.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button>                      

            {% include 'image-style' with image: featured.featured_image, width: product_width, height: 480, wrapper_id: wrapper_id, img_id: img_id %}
            <div id="{{ wrapper_id }}" class="product__img-wrapper supports-js">
              <div style="padding-top:{{ 1 | divided_by: featured.featured_image.aspect_ratio | times: 100}}%;">
                
                <img id="{{ img_id }}"
                     class="product__img lazyload"
                     data-src="{{ img_url }}"
                     data-widths="[150, 220, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ featured.featured_image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ featured.featured_image.alt | escape }}">
                  
              </div>
            </div>
          {% else %}
            <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}" class="product__img">
          {% endunless %}
          <noscript>
            <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}" class="product__img">
          </noscript>
        {% else %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </span>
    </span>
    <div class="start-rating">
      {% include 'star-rating' %}                    
    </div>         
    <p class="grid-link__title">{{ product_title }}</p>
    {% if section.settings.vendor_enable %}
      <p class="grid-link__title grid-link__vendor">{{ featured.vendor }}</p>
    {% endif %}
    {% if featured.title != '' %}

    {%- assign min_price = product.price_min -%}
    {%- assign max_price = product.price_max -%}
        
      <p class="grid-link__meta">
        {% capture price %}{{ featured.price | money }}{% endcapture %}

        {%- assign money_price_min = min_price | money -%}
        {%- assign money_price_max = max_price | money -%}

        <span class="collection_price_divident_min visually-hidden">
          {{min_price}}
        </span>
        <span class="collection_price_divident_max visually-hidden">
          {{max_price}}
        </span>

        {% if on_sale %}
        <span class="collection_msrp_price_container">
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="collection_msrp_price">
            ORIGINAL PRICE: <s class="grid-link__sale_price">{{ featured.compare_at_price | money }}</s>
          </span> 
          <span class="collection_now_price">
            Now: {{price}}
          </span>
        </span>
        <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
        {% else %}
          <span class="collection_msrp_price_container">
            {% if featured.price_varies %}
              {% comment %} // Original code {{ 'products.general.from_html' | t: price: price }}{% endcomment %}
              {%- comment -%}ORIGNAL PRICE:{%- endcomment -%}
              <span class="collection_msrp_price">
                {%- comment -%}{{ price }}
                From: {{ money_price_min }} - {{ money_price_max }} {%- endcomment -%}
              </span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              {{price}}
            {% endif %}          
          </span>     
          {%- comment -%}
          <span class="collection_now_price">
            Now: $<span class="collection_now_price_holder_min"></span> - $<span class="collection_now_price_holder_max"></span>
          </span>      
          {%- endcomment -%}   
          <span class="collection_now_price">
            Now: {{ money_price_min }} - {{ money_price_max }}  
          </span>          
        {% endif %}

      </p>
      
    {% endif %}
  </a>
</div>
