{% assign prodtitle_stripdown_single = product.title | split: ' '  | first | strip_html | downcase %} 
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign prodtitle_sku = current_variant.sku | strip_html | escape | split: '-'  | first | downcase %}

{%- comment -%}
WAATT {{prodtitle_stripdown_single}} <br>
SKUs {{prodtitle_sku}} <br>
Var {{current_variant}} <br><br>
{%- endcomment -%}

{% paginate collections.forsale.products by 100000 %}
{% if collections.forsale.products.size > 0%}
  {% for product in collections.forsale.products%}
    {% assign prodtitle_stripdown = product.title | split: ' '  | first | strip_html | downcase %} 
    {% assign prodtitle_main = product.title | strip_html | downcase %} 

    {% if prodtitle_stripdown_single == prodtitle_stripdown %}
      {% assign firstVariant = product.variants.first %}
      {% for variant_link in product.variants %}
        {% assign featured_link = firstVariant.url %}  
        {% assign current_variant_main = product.selected_or_first_available_variant %}
        {% assign prodtitle_sku_main = current_variant_main.sku | strip_html | escape | split: '-'  | first | downcase %}    
      {% endfor %}  

      {% if prodtitle_sku == prodtitle_sku_main %}
        <div class="deals-sizes"> 
          <div class="header">Deal Sizes</div>
          <a class="deal--size  btn text-center" target="_blank" href="{{ featured_link}}">
            <span>VIEW DEAL SIZES</span>
          </a>             
          {% if product.available and product.variants.size > 0 %}
          {% include 'swatch' with 'Size' %}
          {% endif %}     
        </div>             
      {% endif %}      

    {% endif %}
  {% endfor %}
{% endif %}
{% endpaginate %}