{% assign prodtitle_main_single = product.title | strip_html | downcase %}
{% assign prodtitle_stripdown_single = product.title | split: ' '  | first | strip_html | downcase %} 
{% assign prodtitle_color_single = product.title | strip_html | escape | split: ','  | last | downcase %}

{%- comment -%}
Wee: {{prodtitle_main_single}} <br>
Waa: {{prodtitle_stripdown_single}}<br>
Wuu: {{prodtitle_color_single}}<br><br>
{%- endcomment -%}

{% if collections.hotdeals.products.size > 0 %}
  {% for product in collections.hotdeals.products %}
    {% assign prodtitle_color = product.title | strip_html | escape | split: ','  | last | downcase %}
    {% assign prodtitle_main = product.title | strip_html | downcase %}    
    {% assign prodtitle_stripdown = product.title | split: ' '  | first | strip_html | downcase %}   

    {% if prodtitle_stripdown_single == prodtitle_stripdown and prodtitle_color_single == prodtitle_color %}
      {% assign firstVariant = product.variants.first %}
      {% for variant_link in product.variants %}
        {% assign featured_link = firstVariant.url %}
        {% assign wanted_var_image = firstVariant.image %}      
      {% endfor %}  
      <a href="{{ featured_link}}">
        <span>SEE HOTDEALS SIZE</span>
      </a>      
    {% endif %}
  {% endfor %}
{% endif %}
