{{ 'tipo.alsobought.css' | asset_url | stylesheet_tag }}{{ 'tipo.alsobought.js' | asset_url | script_tag }}{%- assign cartJson = cart | json -%}
{%- assign cartToken = cartJson | split:'token":"' | last | split:'"' | first -%}
<script>
  window.moneyFormat = {{ shop.money_format | json }};
  window.shopCurrency = {{ shop.currency | json }};
  {%- assign assets_url = 'product-1.png' | asset_img_url: '50x' -%}
  {%- assign assets_url = assets_url | split: 'product-1_50x.png' -%}
  window.assetsUrl = '{{ assets_url[0] }}';
  var tipoAlsoBought = new tipoAlsoBought({
    apiUrl: "https://rp.tipo.io",
    hideOutOfStockProducts: {% if shop.metafields.tipoRelatedProducts.hideOutOfStockProducts %}true{% else %}false{% endif %},
    shop: "{{ shop.permanent_domain }}",
    no_image: "https://cdn.shopify.com/s/images/themes/product-1.png",
    {%- if template.name contains 'product' and product -%}product: {{ product | json }},{%- endif -%}
    {%- if template.name contains 'collection' and collection -%}collection: {id: {{collection.id | default: 0}}, handle: {{collection.handle | json}}},{%- endif -%}
    page: '{{template.name}}',
    cart: {productIds: {{ cart.items | map: 'product_id' | uniq | json }}, lineItemsIds: {{ cart.items | map: 'id' | json }}}
  });
</script>
