{% unless wposition %}{% assign root_template = template | split: '.' | first %}{% assign wposition = root_template %}{% endunless %}
{% unless id %}{% assign id = 'all' %}{% endunless %}
{% assign positions = 'product' | split: '|' %}
{% if positions contains wposition %}
{% assign show_box = true %}
{% comment %}
{% unless id == 'all' or id == 1940 %}{% assign show_box = false %}{% endunless %}
{% endcomment %}
{% unless template.name contains 'product' or product.tags %}{% assign show_box = false %}{% endunless %}
{% if show_box %}
  <div id="tipoRelatedBox-1940" data-redirect="false" data-widget_id="1940" class="tipoRelatedBox tipoRelatedBox-template_1" data-basis="tag" data-rule="same" data-limit="4" data-template="1" data-show_current_product="1"
    
              data-tags="{{product.tags | join: ',' | escape_once}}"
      
      >
    <h2 class="tipoRelatedBox-title">More from this collection</h2>
        <div class="tipoRelatedBox-product_wrap">
          <script class="productsTemplate" type="template/html">
        {% raw %}
          <div class="tipoRelatedBox-products">
            <div class="tipoRelatedBox-carousel_wrapper">
              <div class="owl-carousel tipoRelatedBox-carousel">
                {% for related_product in products %}
                <li class="tipoRelatedBox-product" data-product="{{ related_product.id }}">
                  <a href="{{ related_product.url }}">
                                        {% if related_product.available and related_product.compare_at_price > related_product.price %}<span class="tipoRelatedBox-label tipoRelatedBox-label_sale">Sale</span>{% endif %}
                                                            {% unless related_product.available %}
                      <span class="tipoRelatedBox-label tipoRelatedBox-label_soldout">Sold out</span>
                    {% endunless %}
                                        <div class="tipoRelatedBox-product_image" style="background-image: url('{{ related_product.featured_image | img_url: '320x' }}')"></div>
                    <h3 class="tipoRelatedBox-product_title">{{ related_product.title }}</h3>
                                      </a>
                  <form method="post" action="/cart/add" accept-charset="UTF-8" class="addToCartForm" enctype="multipart/form-data">
                    <input type="hidden" name="form_type" value="product">
                    <input type="hidden" name="utf8" value="✓">
                                          <input {% unless related_product.available %}disabled{% endunless %} type="hidden" name="id" value="{{related_product.first_available_variant.id}}" />
                                                              <span class="tipoRelatedBox-product_price-container">
                        <span class="tipoRelatedBox-product_price money">{{ related_product.price | money }}</span>
                        {% if related_product.compare_at_price > related_product.price %}
                        <s class="tipoRelatedBox-product_oldprice money">{{ related_product.compare_at_price | money }}</s>
                        {% endif %}
                      </span>
                                                          </form>
                </li>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endraw %}
      </script>
        </div>
  </div>
  {% endif %}
{% endif %}
