<div itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ product.id }}" data-section-id="{{ product.id }}" data-section-type="product-template">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="product-bundle">
      <div class="grid__item post-large--one-third">

        <div class="product-single__photos">
          {% unless section_onboarding %}
            {% assign featured_image = variant.featured_image | default: product.featured_image %}

            {% for image in product.images %}
              {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
              {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% include 'image-style' with image: image, small_style: false, width: 700, height: 1024, wrapper_id: img_wrapper_id, img_id: img_id %}

              <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper supports-js{% unless featured_image == image %} hide{% endunless %} data-image-id="{{ image.id }}">
                <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                        class="product-single__image lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                        {% if featured_image == image %}src="{{ image | img_url: '300x300' }}"{% endif %}
                        data-src="{{ img_url }}"
                        data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ image.alt | escape }}">
                </div>
              </div>
            {% endfor %}

            <noscript>
              <img src="{{ featured_image | img_url: '1024x1024', scale: 2 }}" alt="{{ featured_image.alt | escape }}">
            </noscript>
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endunless %}
        </div>

      </div>
      <div class="grid__item post-large--two-thirds">

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
            <span class="price-label_upsell label-text">Price:</span>

            <div class="msrp_container">
            {% if compare_at_price > price %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice" class="product-single__sale-price">
                  {{ compare_at_price | money }}
                </s>
            {% endif %}
            </div>
            
            <div class="original_price_container">
                ORIGINAL PRICE:            
            {% if compare_at_price > price %}
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            
            <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ price | divided_by: 100.00 }}">
              {{ price | money }}
            </span>
            </div>  
            <span id="fake_price" class="fake_price">NOW: $<span id="fake_price_holder" class="fake_price_holder"></span></span>
            <span id="price_divident" class="price_divident visually-hidden"></span>
          </div>

          <div class="alternate-upsellnav">
            <span class="upsellnav-label label-text">Type:</span>
            <div class="alternate-upsellnav-holder"></div>
          </div>

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
              {%- if shop.taxes_included -%}
                {{ 'products.general.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% unless product == empty %}
            {% form 'product', product %}
              <select name="id" id="ProductSelect-{{ product.id }}" class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

              <div class="product-single__quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              </div>

              <button type="submit" name="add" id="AddToCart" class="btn productBundleBtn {{ btn_class }}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>

            {% endform %}
          {% endunless %}

        </div>

      </div>
  </div>
</div>


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ product.id }}">
    {{ product | json }}
  </script>
{% endunless %}