<section class="toggle videoGallery" style="display:none;" data-video-gallery="">
    <div id="player"></div>
    <script src="http://www.youtube.com/player_api"></script>
    
    <!-- Working iFrame
    <iframe id="ytplayer" type="text/html" src="{{image.alt}}?rel=0&autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
    <span class="vid_closebtn">Close Video</span>
     -->
</section>

<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
    // 3. This function creates an <iframe> (and YouTube player)
    // after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
        playerVars: {
        // eslint-disable-next-line camelcase
            // autoplay: 0,
            controls: 1,
            loop: 1
        },              
        events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
            }
        });
    }
    
    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        player.loadVideoByUrl("{{image.alt}}");
        player.pauseVideo()
        event.target.setVolume(0);
        if (event.data != YT.PlayerState.ENDED) {
            $(".SlidetoVideo").on('click', function () {
                player.playVideo();
            }); 
        }                 
    }
    
    // 5. The API calls this function when the player's state changes.
    var done = false;

    function onPlayerStateChange(event) {
        if (event.data === YT.PlayerState.ENDED) {
            // console.log('fuckinnnn trueeeeeeee');
            $(".SlidetoVideo").on('click', function () {
                player.playVideo();
            }); 

            $('#spimg_flexslider').fadeIn(380);
            $('.videoGallery').fadeOut(300);
        }            
        event.target.setVolume(0);
    }    
    </script>