<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <!-- JS ================================================== -->
    <script>
      window.password = window.password || {};

      var password = {
        strings: {
          pageClose: {{ 'general.password_page.close' | t | json }}
        }
      }
    </script>

    {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

    <script src="{{ 'lazysizes.min.js' | asset_url }}"></script>

  
  

  {% render 'shogun-head' %}
</head>

  <body class="template-password">

    <div class="password-page__wrapper">
      {{ content_for_layout }}

      <footer class="password-page__footer" role="contentinfo">
        <div class="password-page__footer_inner">
          {% capture shopify %}
          <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            {% include 'svg-definitions' with 'shopify-logo' %}
            <span class="shopify-name">Shopify</span>
          </a>
          {% endcapture %}
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
        </div>
      </footer>
    </div>

    <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
      <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <div class="input-group">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
        <span class="input-group-btn">
          <input type="submit" class="btn password-page__login-form__submit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>

    {{ 'theme.js' | asset_url | script_tag }}

  </body>
</html>
