<!doctype html>
<!--[if IE]><html class="no-js no-touch ie9" lang="{{ shop.locale }}"><![endif]-->
<!--[if !IE]><!--><html class="no-js no-touch" lang="{{ shop.locale }}"><!--<![endif]-->
<head><script>GSXMLHttpRequest = XMLHttpRequest;</script>{%- comment -%}smartseo_integration_begin{%- endcomment -%}{% include 'smartseo' %}{%- comment -%}smartseo_integration_end{%- endcomment -%}
{% include 'ninjacoderz_sitemap_noindex' %}
 <!-- secomapp-json-ld --> 
 {% include 'SEO-with-JSON-LD-Article-Collection' %} 


  <!-- Basic page needs ================================================== -->
  <meta name="google-site-verification" content="zr-L2gmCSYOqif48Y63BA9Lq4A6xz_nxcT_wn59ABIQ" />
  
  <meta charset="utf-8">
  
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  
  <meta name="google-site-verification" content="Rm6X3pzalSSrZ3ftrFMRX-2iULZJ5QphKgk-XhPtj7A" />
  

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  
  {%- comment smartseo_integration_begin_meta_data -%}<title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>{%- endcomment smartseo_integration_end_meta_data -%}
  
  {% if page_description %}
  
  {%- comment smartseo_integration_begin_meta_data -%}<meta name="description" content="{{ page_description | escape }}">{%- endcomment smartseo_integration_end_meta_data -%}
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url}}">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.scss.css' | asset_url | stylesheet_tag }}
  {{ 'accordion.scss.css' | asset_url | stylesheet_tag }}

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Source+Sans+Pro:300,400,600&display=swap" rel="stylesheet">



  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
{% include 'tipo.alsobought.script' %}

  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145824587-1"></script>
<script>
  window.dataLayer = #window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145824587-1');
</script>
  
  <!-- Global site tag (gtag.js) - Google Ads: 706840612 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-706840612"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-706840612');
</script>


<!-- Global site tag (gtag.js) - Google Ads: 706840612 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-706840612"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-706840612');
</script>

{% include 'sca.freegifts' %}
  <script>
    window.theme = window.theme || {};

    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        zoomClose: {{ "products.zoom.close" | t | json }},
        zoomPrev: {{ "products.zoom.prev" | t | json }},
        zoomNext: {{ "products.zoom.next" | t | json }},
        addressError: {{ 'map.errors.address_error' | t | json }},
        addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
        addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
        authError: {{ 'map.errors.auth_error_html' | t | json }}
      },
      settings: {
        // Adding some settings to allow the editor to update correctly when they are changed
        enableWideLayout: {{ settings.enable_wide_layout }},
        typeAccentTransform: {{ settings.type_accent_transform }},
        typeAccentSpacing: {{ settings.type_accent_spacing }},
        baseFontSize: '{{ settings.type_base_size }}',
        headerBaseFontSize: '{{ settings.type_header_size }}',
        accentFontSize: '{{ settings.type_accent_size }}'
      },
      variables: {
        mediaQueryMedium: 'screen and (max-width: 768px)',
        bpSmall: false
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'supports-js');
  </script>


<!--begin-bc-sf-filter-css-->
  {% include 'bc-sf-filter-style' %}
<!--end-bc-sf-filter-css-->


  <script src="https://shopoe.net/app.js"></script>
 
{% render 'pagefly-header' %}
 
  




  {% render 'shogun-head' %}
</head> 

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% section 'header' %}

  <main class="wrapper main-content" role="main">
    <div class="grid">
        <div class="grid__item">

          {{ content_for_layout }}
{% capture tipoRelatedProducts %}{% assign root_template = template | split: '.' | first %}{% include 'tipo.alsobought.widgets', wposition: root_template %}{% endcapture %}{% unless tipoRelatedProducts contains 'Liquid error:' %}{{ tipoRelatedProducts }}<script>tipoAlsoBought.init()</script>{% endunless %}
          
          {%- if template.name == 'index' -%}
            {% section 'clearance' %}

            {% comment %} {% section 'week-products' %} {% endcomment %}
            {% section 'deals-of-month' %}
          	<!--{% include 'carousel-review' %}-->
            {% section 'home-bestsellers' %}
            {% section 'home-hotdeals' %}
            
          {%- endif -%}             

        </div>
        {%- comment -%}
        {% if template == 'product' or template == 'product.hotdeals' %}
          <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>      
        {% endif %}
        {%- endcomment -%}
    </div>
  </main>

  <!-- <div id="instafeed"></div> -->
  {% include 'footer' %}

  {%- if template.name == 'index' -%}
    <p id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'home_page.slideshow.navigation_instructions' | t -}}
    </p>
  {%- endif -%}

  {% if template.name == 'product' or template.name == 'index' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  </ul>

  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'float-panel.js' | asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}
  {{ 'accordion.js' | asset_url | script_tag }}

  {% include 'swymSnippet' %}
  {% include 'ajaxify-cart' %}
  {%- comment -%}{% include 'back-to-the-top' %}{%- endcomment -%}

  {%- comment -%}
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6632301.js"></script>
  <!-- End of HubSpot Embed Code -->
  {%- endcomment -%}

  {% render 'upsell-now', customer: customer, product: product, template: template, cart: cart %}

  {% section 'announcement-bar' %}  
  {% section 'rugpad-logo' %}
  
<!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %}
<!--end-bc-sf-filter-js-->
{% comment %} Init BC Action List {% endcomment %}
<!--start-bc-al-init-->
  {% include 'bc-al-init' %}
<!--end-bc-al-init-->
{% comment %} Init Recently Viewed Products {% endcomment %}
<!-- start-bc-recently-viewed-product-init -->
  {% include 'bc-recently-viewed-product-init' %}
<!-- end-bc-recently-viewed-product-init -->
{% comment %} Init Most Popular Widgets {% endcomment %}
<!--start-bc-most-popular-product-init-->
  {% include 'bc-most-popular-product-init' %}
<!--end-bc-most-popular-product-init-->

  <script>
  
    $(".shg-product-image-wrapper").each(function(){
    	$(this).append("<span class='officon'><img src='https://i.shgcdn.com/97a57c7b-eff2-4d29-bc21-f8f803e871ba/-/format/auto/-/preview/3000x3000/-/quality/lighter/'></span>");    
    });
  
 
  
</body>
</html>
 </script>
    <script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/twfIQLv1D0ukqcZdXQFKcTtc8xivhPD1IIQ7vPJ9/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
<style>
  .officon{
    position: absolute;
    left: -7px;
    top: -7px;
  }
  .officon img{
    height:120px
  }
</style>
<script>
        $(window).load(function() {
               $('#f2').flexslider({
                  animation: "slide",
                  animationLoop: false,
                  itemWidth: 105,
                  itemMargin: 5,
                  pausePlay: false,
                  mousewheel: false,
                  rtl: false,
                  asNavFor:'.flexslider'
                });

            });
          </script>

