{% if section.settings.message %}
<style>
.bottom_footer {
  margin-bottom: 120px;
}    
</style>
  {% if section.settings.home_page_only == false or template.name == 'index' %}
    {%- comment -%}
    <div class="promo-brand mobile-brand" style="display: none;">
        <a href="{{ section.settings.message_link }}">
            <img src="{{'promo-brand.png' | asset_url}}" alt="Thanksgiving MEGA SALE">
        </a>
    </div>
    {%- endcomment -%}
    {% if section.settings.message_link == blank %}
    <div class="announcement-bar" style="display: none;">
        {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link" style="display: none;">
        {% endif %}

        {% capture shipping_value %}{{ section.settings.free_shipping_threshold | times: 100 }}{% endcapture %}
        {% assign cart_total = cart.total_price %}
        {% assign shipping_value_left = shipping_value | minus: cart_total %}
        {% assign shipping_value_left_money = shipping_value_left | money %}
        {% capture free_shipping_notqualified %}
            {{ section.settings.free_shipping_notqualified | replace: '[price]', shipping_value_left_money }}
        {% endcapture %}
        {% assign free_shipping_qualified = section.settings.free_shipping_qualified %}
        {% assign announcement_message = section.settings.message_text %}
        
        {% if section.settings.free_shipping_countdown %}
            {% if cart.total_price > 0 %}
            {% assign announcement_message = free_shipping_notqualified %}
            {% endif %}
            {% if shipping_value_left <= 0 %}
            {% assign announcement_message = free_shipping_qualified %}
            {% endif %}
        {% endif %}
        
        <p class="announcement-bar__message">{{ announcement_message }}</p>

        {% if section.settings.announcement_image != blank %}
            <noscript>
            {%- assign img_url = section.settings.announcement_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            </noscript>
            <div class="promo-brand">
                <img
                class="lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                data-aspectratio="{{ section.settings.announcement_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.announcement_image.alt | escape }}">
            </div>
        {% endif %}       

        {% if section.settings.message_link == blank %}
        </div>
        {% else %}
        </a>
    {% endif %}

    <style>
    .announcement-bar {
        background-color: {{ section.settings.color_bg }};
        background-image:url("{{ section.settings.image_bg | img_url: '1920x' }}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width:100%;
        min-height:120px;
        text-align:center;
    }
      
      .announcement-bar:before,
      .announcement-bar:after {
        content:"";
        width: 100%;
        height: 120px;
        position: absolute;
        top: 0;
      }
      
      
    .announcement-bar p {
        /* padding:10px 0; */
        padding: 0 0 20px;
        font-size: {{ section.settings.font_size }}px;
        margin:0 !important;
        /* text-shadow: 1px 1px 1px #000, 3px 2px 6px #333; */
    }
    .announcement-bar__message,
    .announcement-bar--link {
        color: {{ section.settings.color_text }};
       
    }
    .announcement-bar--link, 
    .announcement-bar--link:hover .announcement-bar__message {
        color: {{ section.settings.color_text_hover }} !important;
    }
    </style>

  {% endif %}
{% endif %}

<style>
  
</style>

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": false
      },
    {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "announcement_image",
        "label": "Promo Image"
      },      
      {
        "type": "text",
        "id": "message_text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Fonts, colors and Background"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Background Image"
      },         
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#ffffff"
      },
    {
        "type": "color",
        "id": "color_text_hover",
        "label": "Link hover color",
        "default": "#eeeeee"
      },
    {
        "type":   "range",
        "id":     "font_size",
        "min":    8,
        "max":    36,
        "step":   1,
        "unit":   "px",
        "label":  "Font size",
        "default":   14
      }
    ]
  }
{% endschema %}