<div class="rte" itemprop="articleBody">
  {{ article.content }}
</div>


{% if section.settings.blog_post_author %}
  {% assign global = article.metafields.global %}
  <div class="author-wrapper">
    {% if article.comments_count != 0 %}
    	<div class="author-heading">{{ 'blogs.comments.count_with_comment' | t: count: article.comments_count }}</div>
    {% endif %}
    {% if global.author_img != blank or global.author_title != blank or global.author_desc != blank %}
      <div class="author-box">
      {% if global.author_img != blank %}
        <div class="author-img">
          <img src="{{ global.author_img }}" alt="{{ global.author_title }}" />
        </div>
      {% endif %}
      {% if global.author_title != blank or global.author_desc != blank %}
        <div class="author-detail">
          {% if global.author_title != blank %}
            <h5>{{ global.author_title }}</h5>
          {% endif %}
          {% if global.author_desc != blank %}
            <p>{{ global.author_desc }}</p>
          {% endif %}
          {% if section.settings.show_share_buttons %}
              {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
          {% endif %}
        </div>
      {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% if section.settings.blog_post_tags %}
  {% assign article_tags = article.tags %}
  {% if article_tags.size > 0 %}
   <div class="tag-wrapper">
     <h6>{{ 'blogs.article.tags' | t }}</h6>
     {% for article_tag in article_tags %}
      <span>{{ article_tag }}</span>
     {% endfor %}
    </div>
  {% endif %}
{% endif %}

<div class="article-nav">

{% if section.settings.next_prev_article_link %}      
  {% assign current_found = false %}
  {% assign done = false %}
  {% for a in blog.articles %}
      {% if current_found and done == false %}
          {% assign next_article = a %}
          {% assign done = true %}
      {% endif %}
      {% unless done %}
          {% if a.id == article.id %}
              {% assign current_found = true %}
          {% else %}
              {% assign prev_article = a %}
          {% endif %}
      {% endunless %}
  {% endfor %}

  {% if prev_article %}
      <a class="prev" href="{{ prev_article.url }}">{{ prev_article.title | escape }}</a>
  {% endif %}

  {% if next_article %}
      <a class="next" href="{{ next_article.url }}">{{ next_article.title | escape }}</a>
  {% endif %}
{% endif %}

</div>

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_post_author",
        "label": "Post Author"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_post_tags",
        "label": "Blog Post Tags"
      },
      {
        "type": "checkbox",
        "id": "next_prev_article_link",
        "label": "Next Previous Aricle Link Enable"
      }
    ]
  }
{% endschema %}
