{% paginate blog.articles by section.settings.blog_limit %}
{% assign pageIndex0 = paginate.current_page | minus: 1 | times: 10 %}
{% assign counter = paginate.current_page | minus: 1 | times: 10 | plus: 5 %}

{% if section.settings.bgvideo_enable %}
  <section class="page-header header-video">
    <div class="page-width">
      <div class="content">
        <h1>{{ page_title }}</h1>
        <h3>{{section.settings.desc}}</h3>
        {% comment %}  
        {% if blog.tags.size > 0 %}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">{{ 'blogs.article.all_topics' | t }}</option>
          {% for tag in blog.all_tags %}
          <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
        {% endif %} 
        {% endcomment %}

        {% include 'breadcrumb' %}
      </div>
      <a class="scroll-down" href="javascript:;" onclick="scrollmove();"></a>        
    </div>
    
    <div class="video">
    <video id="bgvid" autoplay="autoplay" loop="loop" muted="" width="100%" height="auto">
      <source src="{{ section.settings.bgvideo }}" type="video/mp4">
    </video>
    </div>
    
  </section>
{% else %}
  <section class="page-header header-img" style="background:url('{{ section.settings.bgimg | img_url:'master' }}') no-repeat;">
    <div class="page-width">
      <div class="content">
        <h1>{{ page_title }}</h1>
        <h3>{{section.settings.desc}}</h3>
        {% comment %}  
        {% if blog.tags.size > 0 %}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">{{ 'blogs.article.all_topics' | t }}</option>
          {% for tag in blog.all_tags %}
          <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {% endfor %}
        </select>
        {% endif %} 
        {% endcomment %}
        {% include 'breadcrumb' %}
      </div>
      <a class="scroll-down" href="javascript:;" onclick="scrollmove();"></a>        
    </div>
  </section>
{% endif %}

<section class="{% if section.settings.layout == 'list' %}blog--list-view{% endif %} blog-grid-section" id="blog_grid">
  {% if section.settings.layout == 'grid' %}
    <div class="page-width">
      <div class="grid grid--uniform grid--blog">
        {% for article in blog.articles %}
          <div class="grid__item  small--one-whole medium--one-third post-large--one-third">
            {% comment %}{% include 'social-sharing' %}{% endcomment %}
            <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
              <a href="{{ article.url }}">
                <div class="article__grid-image">
              {% if article.image %}
                {{ article | img_url: 'grande' | img_tag: article.title }}
              {% endif %}
              </div>
              </a>
              <h4 class="article__title h3">{{ article.title }}</h4>
              {% if section.settings.blog_show_date %}
                <span class="article__date">
                  {{ article.published_at | time_tag: format: 'month_day_year' }}.
                </span>
              {% endif %}
              
              {% if section.settings.blog_show_author %}
                <span class="article__author">Author: {{ article.author }}</span>
              {% endif %}
              

              <div class="rte article__grid-excerpt">
                
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  {{ article.content | strip_html | truncate: 150 }}
                {% endif %}
              </div>
			{% comment %}
              {% if article.tags.size > 0 %}
                <div class="article__tags rte">
                  {% for tag in article.tags %}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                  {% endfor %}
                </div>
              {% endif %}
			{% endcomment %}
              <!--<ul class="list--inline">-->
                <!--<li>-->
                  <a href="{{ article.url }}" class="btn small">
                    {{ 'blogs.article.read_more' | t }}
                  </a>
                <!--</li>-->
				{% comment %}
                {% if blog.comments_enabled? and article.comments_count > 0 %}
                  <!--<li>-->
                    <a href="{{ article.url }}#comments" class="btn button button-gradient-outline small">
                      {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                    </a>
                  <!--</li>-->
                {% endif %}
              {% endcomment %}
              <!--</ul>-->
            </div>
          </div>
        
        {% endfor %}
        
          
        {% if section.settings.content != blank %}
        <div class="blog_content grid__item small--one-whole medium--one-third post-large--one-third">
          <div class="article__grid-meta article__grid-meta--has-image">  
            {{section.settings.content}}
          </div>
		</div>
        {% endif %}

      </div>
      
    </div>
  {% else %}
    {% for article in blog.articles %}
      <div class="border-top">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">        
            
              <div class="article--listing">
                <h2 class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {% if section.settings.blog_show_author %}
                  <span class="article__author">{{ article.author }}</span>
                {% endif %}

                {% if section.settings.blog_show_date %}
                  <span class="article__date">
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                  </span>
                {% endif %}


                {% if article.image %}
                <p>
                  <a href="{{ article.url }}">
                    {{ article | img_url: '905x600' | img_tag: article.title, 'article__list-image' }}
                  </a>
                </p>
                {% endif %}

                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncate: 150 }}
                  {% endif %}
                </div>

                {% if article.tags.size > 0 %}
                  <div class="article__tags article__tags--list rte">
                    {{ 'blogs.article.posted_in' | t }}
                    {% for tag in article.tags %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}

                <ul class="list--inline article__meta-buttons">
                  {% if article.excerpt.size > 0 %}
                    <li>
                      <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </li>
                  {% endif %}

                  {% if blog.comments_enabled? and article.comments_count == 0 %}
                    <li>
                      <a href="{{ article.url }}#comment_form" class="btn btn--secondary btn--small">
                        {{ 'blogs.comments.title' | t }}
                      </a>
                    </li>
                  {% endif %}

                  {% if blog.comments_enabled? and article.comments_count > 0 %}
                    <li>
                      <a href="{{ article.url }}#comments" class="btn btn--secondary btn--small">
                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
 
  <div class="page-width">
    {% if section.settings.pagination_enable%}
    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}
    {% endif %}
  </div>
  
</section>

{% endpaginate %}

<script>

  function scrollmove() {
    $('html, body').animate({ scrollTop: $("#blog_grid").offset().top - (jQuery('header.site-header').outerHeight() + 35)  }, 1000);
  }     
  
</script>

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "bgvideo_enable",
        "label": "Background Video Enable"
      }, 
	  {
        "type": "text",
        "id": "bgvideo",
        "label": "Background Video Link"
      },
	  {
        "type": "image_picker",
        "id": "bgimg",
        "label": "Background Image"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Blog Description"
	  },
 	  {
        "type": "textarea",
        "id": "content",
        "label": "Bottom Content"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "list",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "pagination_enable",
        "label": "Pagination"
      },
	  {
        "type": "select",
        "id": "blog_limit",
        "label": "Number of Blogs",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
		  {
            "value": "2",
            "label": "2"
          },
		  {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
		  {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "10",
            "label": "10"
          }
        ]
      }
    ]
  }
{% endschema %}

{% javascript %}

var OSName="Unknown OS";
if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";

console.log(OSName);



var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);
console.log(isSafari);
if(OSName == 'MacOS' && isSafari == true) {
	$('.grid--blog').addClass('mac-safari-grid');
}


{% endjavascript %}