{% case section.blocks.size %}
    {% when 0 %}
    {% when 1 %}
        {% assign column_width = 'text-center' %}
    {% when 2 %}
        {% assign column_width = 'post-large--one-half medium--one-half small--one-half' %}
{% endcase %}


{% if section.settings.show_footer_top %}
    <div class="clearance small--text-center" role="contentinfo">
        <div class="grid-uniform">
            {% for block in section.blocks %}
            <div class="grid__item {{ column_width }}">
                <div class="clearance--icons_container clearance-desktop">
                    <div class="icons-thumb icons-left">
                        {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <a href="{{ block.settings.clearance_url }}">
                        <img class="gallery__image lazyload"  data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                        </a>
                    </div>
                </div>

                <div class="clearance--icons_container clearance-mobile">
                    <div class="icons-thumb icons-left">
                        {% assign img_url = block.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <a href="{{ block.settings.clearance_url }}">
                        <img class="gallery__image lazyload"  data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ block.settings.image_mobile.aspect_ratio }}" data-sizes="auto"
                        alt="{{ block.settings.image_mobile.alt | escape }}">
                        </a>
                    </div>
                </div>                
            </div>        
            {% endfor %}
        </div>
    </div>
{% endif %}
{% schema %}
{
    "name": {
    "en": "Clearance"
    },
    "max_blocks": 2,
    "settings": [
        {
        "type": "checkbox",
        "id": "show_footer_top",
        "label":     {
            "en": "Show Clearance Sale"
            }
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": {
                "en": "Text"
            },
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": {
                    "en": "Desktop"
                    }
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": {
                    "en": "Mobile"
                    }
                },                
                {
                "type": "url",
                "id": "clearance_url",
                "label": "Button URL"
                }                 
            ]
        }
    ]
}
{% endschema %}