{% paginate collection.products by 20 %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="{{ section.settings.sort_enable }}" data-tags-enabled="{{ section.settings.tags_enable }}">
  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <header class="section-header section-header--large">
    <h1 class="section-header__title{% if section.settings.tags_enable or section.settings.sort_enable %} section-header__title--left{% endif %}">{{ collection.title }} Rugs</h1>
    {% if section.settings.tags_enable or section.settings.sort_enable %}
    <div class="section-header__link--right">
      {% if section.settings.tags_enable %}
        {% include 'collection-tags' %}
      {% endif %}
      {% if section.settings.sort_enable %}
        {% include 'collection-sorting' %}
      {% endif %}
    </div>
    {% endif %}
  </header>

  {% if collection.description != blank %}
    <div class="rte rte--header">
      {{ collection.description }}
    </div>
    <hr class="hr--clear hr--small">
  {% endif %}

  <div class="grid-uniform grid-link__container">
    {% assign grid_item_width = 'wide--one-quarter large--one-quarter medium-down--one-half' %}
    {%- assign product_width = 335 -%}

    {% for product in collection.products %}
    {% assign featured = product %}
    {% for variant_link in featured.variants %}

    {% assign realprice = variant_link.price | money | split: '.' | first | remove: "$" | remove: "," | times: 1 %}
    {% assign first_lineprice = collection.title | split: '-' | first | downcase | remove: "$" | times: 1 %}
    {% assign second_lineprice = collection.title | split: '-' | last | downcase | remove: "$" | times: 1 %}

      {% if realprice >= first_lineprice and realprice <= second_lineprice %}

        {%comment%}
        First Line Price:{{first_lineprice}} <br>
        Second Line Price:{{second_lineprice}}<br>
        Priceesssssss: {{realprice}} <br><br><br><br> 
        Title: {{collection.title}}<br><br>
        // console log to see price
        {%endcomment%}      

        {% assign featured_link = variant_link.url %}
        {% assign wanted_var_price = variant_link.price %}
        {% assign wanted_var_available = variant_link.available %}
        {% assign wanted_var_compareprice = variant_link.compare_at_price %}
        {% assign wanted_var_image = variant_link.image %}
       
        {% break %}{%comment%}This brake stops the loop, making the url the FIRST variant that matches{%endcomment%}
      {%endif%}
    {% endfor %}

    {% assign sold_out = true %}
    {% assign sold_out_text = 'products.product.sold_out' | t %}
    {% if wanted_var_available %}
      {% assign sold_out = false %}
    {% endif %}

      {% if sold_out == false %}
      <div class="grid__item {{grid_item_width}}">
        {% include 'product-grid-item-price' %}
      </div>
      {% endif %}
    {% else %}

      {% if shop.products_count == 0 %}
        <div class="grid__item">
          <div class="helper-section">
            <div class="grid-uniform helper-content{% if section.settings.center_grid_link %} text-center{% endif %}">
              {% for i in (1..8) %}
                <div class="grid__item one-half post-large--one-quarter">
                  <a href="/admin/products" class="grid-link">
                    <span class="grid-link__image grid-link__image--product">
                      <span class="grid-link__image-centered">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </span>
                    </span>
                    <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                    <p class="grid-link__meta">
                      <strong>$19.99</strong>
                    </p>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="grid__item">
          <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
        </div>
      {% endif %}

    {% endfor %}

  </div>

  {% if paginate.pages > 1 %}
    <hr class="hr--clear">

    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
  {% endif %}
</div>
{% endpaginate %}



{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de coleções",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "vendor_enable",
      "label": {
        "de": "Produktverkäufer anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "nl": "Productleverancier weergeven",
        "pt-BR": "Exibir o fornecedor do produto",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "checkbox",
      "id": "show_sale_circle",
      "label": {
        "de": "Kreis bei Produkten im Angebot anzeigen",
        "en": "Show product sale circle",
        "es": "Mostrar el círculo de oferta del producto",
        "fr": "Afficher la vignette produit en réduction",
        "it": "Mostra cerchio \"In Offerta\" sul prodotto",
        "ja": "丸で囲んだ商品セールを表示する",
        "nl": "Toon de cirkel voor de verkoop van producten",
        "pt-BR": "Exibir círculo de produto em oferta",
        "zh-CN": "显示产品销售圆圈",
        "zh-TW": "顯示產品特價圓圈"
      }
    },
    {
      "type": "checkbox",
      "id": "show_sold_out_circle",
      "label": {
        "de": "Kreis bei ausverkauften Produkte anzeigen",
        "en": "Show product sold out circle",
        "es": "Mostrar el círculo de agotado del producto",
        "fr": "Afficher la vignette produit épuisé",
        "it": "Mostra cerchio \"Esaurito\" sul prodotto",
        "ja": "丸で囲んだ売り切れを表示する",
        "nl": "Toon de cirkel van de uitverkochte producten",
        "pt-BR": "Exibir círculo de produto esgotado",
        "zh-CN": "显示产品售罄圆圈",
        "zh-TW": "顯示產品售罄圓圈"
      }
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "de": "Kategoriesortierung aktivieren",
        "en": "Enable collection sorting",
        "es": "Habilitar la función ordenar colecciones",
        "fr": "Activer le tri de la collection",
        "it": "Abilita ordinamento collezione",
        "ja": "コレクションの並べ替えを有効にする",
        "nl": "Sorteren op collectie inschakelen",
        "pt-BR": "Ativar a ordenação de coleções",
        "zh-CN": "启用产品系列排序",
        "zh-TW": "啟用商品系列排序功能"
      }
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "de": "Filterung nach Produkt-Tag aktivieren",
        "en": "Enable filtering by product tag",
        "es": "Habilitar filtro por etiqueta de producto",
        "fr": "Activer le filtrage par balise de produit",
        "it": "Abilita filtri per tag di prodotto",
        "ja": "商品タグによる絞り込みを有効にする",
        "nl": "Schakel filteren in per producttag",
        "pt-BR": "Ativar filtragem por tag de produto",
        "zh-CN": "启用按产品标记筛选",
        "zh-TW": "啟用產品標籤篩選功能"
      }
    },
    {
      "type": "checkbox",
      "id": "center_grid_link",
      "label": {
        "de": "Text unter Produktbildern zentrieren",
        "en": "Center text below product images",
        "es": "Centrar el texto debajo de las imágenes del producto",
        "fr": "Centrer le texte sous les images des produits",
        "it": "Centra il testo sotto le immagini di prodotto",
        "ja": "商品画像下のテキストを中央に寄せる",
        "nl": "Centreer de tekst onder de productafbeeldingen",
        "pt-BR": "Centralizar texto abaixo das imagens do produto",
        "zh-CN": "使产品图片下方的文本居中显示",
        "zh-TW": "將文字置中並置於產品圖片下方"
      }
    }  
  ]
}
{% endschema %}
