 
{% paginate collection.products by 100 %}
<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="{{ section.settings.sort_enable }}" data-tags-enabled="{{ section.settings.tags_enable }}">
  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <header class="section-header section-header--large">
    <h1 class="section-header__title{% if section.settings.tags_enable or section.settings.sort_enable %} section-header__title--left{% endif %}">{{ collection.title }} Rugs</h1>
    {% if section.settings.tags_enable or section.settings.sort_enable %}
    
    <div class="section-header__link--right">
      {% if section.settings.tags_enable %}
        {% include 'collection-tags' %}
      {% endif %}
      {% if section.settings.sort_enable %}
        {% include 'collection-sorting' %}
      {% endif %}
    </div>
    {% endif %}
  </header>

  {% if collection.description != blank %}
    <div class="rte rte--header">
      {{ collection.description }}
    </div>
    <hr class="hr--clear hr--small">
  {% endif %} 
 
    
  <!---->
   
    
  	<!---->
  
   <div id="bc-sf-filter-tree-mobile">{% include 'bc-sf-filter-skeleton', type: 'button' %}</div>
  <div>
    <div id="bc-sf-filter-tree" style="width:100%">
      {% comment %} Include placeholder template {% endcomment %}
      {% include 'bc-sf-filter-tree-placeholder' %}
    </div>
    
    <div id="bc-sf-filter-right" style="width:100%;">
      <div id="bc-sf-filter-products" class="grid-uniform grid-link__container devProductContainer" data-bc-sort="{{ collection.default_sort_by }}">
        {% assign grid_item_width = 'wide--one-quarter large--one-quarter medium-down--one-half product bc-quickview-exist bc-addtocart-exist bc-al-exist' %}
        {%- assign product_width = 335 -%}
        
        {% for product in collection.products %}
         {% for variant_link in featured.variants %}
         {% assign wanted_var_image = variant_link.image %}
        	{% endfor %}
          {% assign featured = product %}
          <div class="grid__item {{grid_item_width}} devProductContainer">
            {% include 'product-loop' %}
          </div>
        {% endfor %}
      </div>
  		<div class="scroller-status">
  <div class="infinite-scroll-request loader-ellips"> 
  </div>
  <p class="infinite-scroll-last" style="text-align:center;">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>
      {% if paginate.next.is_link %}
<!-- pagination has path -->
<p class="pagination">
    <a class="pagination__next" href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
</p>
{% endif %}
    
      <hr class="hr--clear">
 
      <div id="bc-sf-filter-load-more"></div>
    </div>
  </div>
  <style>
    .bc-sf-filter-option-block {
        position: relative;
        border: none !important;
        padding: 0 10px !important;
        margin-bottom: 15px !important;
        width: 25%;
        float: left;
    }
    .grid-link__image-centered{
          vertical-align: unset;
       max-height:480px;
    }
    #ProductImage-{
    min-height:480px;
    }
    .grid-link__image{
    max-height:480px;
      height:480px;
    
    }
    .product__img-wrapper.supports-js .product__img {
    position: absolute;
    top: 0;
    width: 100%; 
    object-fit: cover;
      height:480px;
      max-height:480px !important;
}
    .product__img-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 480px;
}
  </style>



</div>
 
  {% endpaginate %} 


{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de coleções",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "vendor_enable",
      "label": {
        "de": "Produktverkäufer anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "nl": "Productleverancier weergeven",
        "pt-BR": "Exibir o fornecedor do produto",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "checkbox",
      "id": "show_sale_circle",
      "label": {
        "de": "Kreis bei Produkten im Angebot anzeigen",
        "en": "Show product sale circle",
        "es": "Mostrar el círculo de oferta del producto",
        "fr": "Afficher la vignette produit en réduction",
        "it": "Mostra cerchio \"In Offerta\" sul prodotto",
        "ja": "丸で囲んだ商品セールを表示する",
        "nl": "Toon de cirkel voor de verkoop van producten",
        "pt-BR": "Exibir círculo de produto em oferta",
        "zh-CN": "显示产品销售圆圈",
        "zh-TW": "顯示產品特價圓圈"
      }
    },
    {
      "type": "checkbox",
      "id": "show_sold_out_circle",
      "label": {
        "de": "Kreis bei ausverkauften Produkte anzeigen",
        "en": "Show product sold out circle",
        "es": "Mostrar el círculo de agotado del producto",
        "fr": "Afficher la vignette produit épuisé",
        "it": "Mostra cerchio \"Esaurito\" sul prodotto",
        "ja": "丸で囲んだ売り切れを表示する",
        "nl": "Toon de cirkel van de uitverkochte producten",
        "pt-BR": "Exibir círculo de produto esgotado",
        "zh-CN": "显示产品售罄圆圈",
        "zh-TW": "顯示產品售罄圓圈"
      }
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "de": "Kategoriesortierung aktivieren",
        "en": "Enable collection sorting",
        "es": "Habilitar la función ordenar colecciones",
        "fr": "Activer le tri de la collection",
        "it": "Abilita ordinamento collezione",
        "ja": "コレクションの並べ替えを有効にする",
        "nl": "Sorteren op collectie inschakelen",
        "pt-BR": "Ativar a ordenação de coleções",
        "zh-CN": "启用产品系列排序",
        "zh-TW": "啟用商品系列排序功能"
      }
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "de": "Filterung nach Produkt-Tag aktivieren",
        "en": "Enable filtering by product tag",
        "es": "Habilitar filtro por etiqueta de producto",
        "fr": "Activer le filtrage par balise de produit",
        "it": "Abilita filtri per tag di prodotto",
        "ja": "商品タグによる絞り込みを有効にする",
        "nl": "Schakel filteren in per producttag",
        "pt-BR": "Ativar filtragem por tag de produto",
        "zh-CN": "启用按产品标记筛选",
        "zh-TW": "啟用產品標籤篩選功能"
      }
    },
    {
      "type": "checkbox",
      "id": "center_grid_link",
      "label": {
        "de": "Text unter Produktbildern zentrieren",
        "en": "Center text below product images",
        "es": "Centrar el texto debajo de las imágenes del producto",
        "fr": "Centrer le texte sous les images des produits",
        "it": "Centra il testo sotto le immagini di prodotto",
        "ja": "商品画像下のテキストを中央に寄せる",
        "nl": "Centreer de tekst onder de productafbeeldingen",
        "pt-BR": "Centralizar texto abaixo das imagens do produto",
        "zh-CN": "使产品图片下方的文本居中显示",
        "zh-TW": "將文字置中並置於產品圖片下方"
      }
    }   
  ]
}
{% endschema %}
<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Relevance" {% endunless %},

      sale: {{ 'products.product.sale' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      regular_price: {{ 'products.product.regular_price' | t | json }},
      sale_price: {{ 'products.product.sale_price' | t | json }},
      from_price: {{ 'products.general.from_html' | t | json }},
      homepage_product_title: {{ 'home_page.onboarding.product_title' | t | json }},
      breadcrumb_home_link: {{ 'general.breadcrumbs.home_link_title' | t | json }},
    },
    custom: {
      products_per_page: {% if products_per_page %} {{ products_per_page | json }} {% else %} 24 {% endif %},
      grid_item_width: {% if grid_item_width != blank %} {{ grid_item_width | json }} {% else %} 'wide--one-fifth large--one-quarter medium-down--one-half' {% endif %},
      center_grid_link: {% if section.settings.center_grid_link != blank %} {{ section.settings.center_grid_link | json }} {% else %} false {% endif %},
      show_sale_circle: {% if section.settings.show_sale_circle != blank %} {{ section.settings.show_sale_circle | json }} {% else %} false {% endif %},
      show_sold_out_circle: {% if section.settings.show_sold_out_circle != blank %} {{ section.settings.show_sold_out_circle | json }} {% else %} false {% endif %},
      vendor_enable: {% if section.settings.vendor_enable != blank %} {{ section.settings.vendor_enable | json }} {% else %} false {% endif %},
      product_width: {% if product_width %} {{ product_width | json }} {% else %} '335' {% endif %},
      {% for num in (1..6) %}
      "placeholder_svg_tag_{{ num }}": '{{ 'product-' | append: num | placeholder_svg_tag }}',
      {% endfor %}
    }
  };

  // Declare Templates
  var bcSfFilterTemplate = {
      'soldOutClass': 'sold-out',
      'saleClass': 'on-sale',
      'textCenterClass': 'text-center',
      'imageSoldOutClass': 'grid-link__image-sold-out',
      'vendorHtml': {% render 'bc-sf-filter-html', layout: 'vendorHtml' %},
      // Grid Template
      'productGridItemHtml': {% include 'bc-sf-filter-html', layout: 'productGridItemHtml' %},

      // Pagination Template
      'previousActiveHtml': {% render 'bc-sf-filter-html', layout: 'previousActiveHtml' %},
      'previousDisabledHtml': {% render 'bc-sf-filter-html', layout: 'previousDisabledHtml' %},
      'nextActiveHtml': {% render 'bc-sf-filter-html', layout: 'nextActiveHtml' %},
      'nextDisabledHtml': {% render 'bc-sf-filter-html', layout: 'nextDisabledHtml' %},
      'pageItemHtml': {% render 'bc-sf-filter-html', layout: 'pageItemHtml' %},
      'pageItemSelectedHtml': {% render 'bc-sf-filter-html', layout: 'pageItemSelectedHtml' %},
      'pageItemRemainHtml': {% render 'bc-sf-filter-html', layout: 'pageItemRemainHtml' %},
      'paginateHtml': {% render 'bc-sf-filter-html', layout: 'paginateHtml' %},

      // Sorting Template
      'sortingHtml': {% render 'bc-sf-filter-html', layout: 'sortingHtml' %},
  };
</script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
  <script>
$(document).ready(function(){
  // init Infinite Scroll
  if(document.querySelector("#bc-sf-filter-tree > div.bc-sf-filter-selection-wrapper > div.bc-sf-filter-selected-items")!=null)
  {
   
          alert("sss")
          $container.off('load.infiniteScroll', listener );
          $("#bc-sf-filter-products").removeClass("devProductContainer");
        
  }
   		
      $('.devProductContainer').infiniteScroll({
        path: '.pagination__next',
        append: '.product ',
        status: '.scroller-status',
        hideNav: '.pagination',
      }); 
    
}); 

  
</script>