{% if section.settings.show_related_product %}  

  <hr class="hr--clear hr--small">
  {% if section.settings.text_title %} 
  <div class="section-header section-header--medium">
    <h2 class="h4" class="section-header__title">{{ section.settings.text_title}}</h2>
  </div>
  {% endif %}

  <div class="grid-uniform grid-link__container">
    {% for block in section.blocks %}
    {%- assign product = all_products[block.settings.featured_product] -%}
    {%- assign variant = product.selected_or_first_available_variant -%}
    {%- if product == empty -%}
      {%- assign section_onboarding = true -%}
      {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
      {%- assign title = 'home_page.onboarding.product_title' | t -%}
      {%- assign compare_at_price = 2999 -%}
      {%- assign price = 1999 -%}
    {%- else -%}
      {%- assign section_onboarding = false -%}
      {%- assign vendor = product.vendor -%}
      {%- assign title = product.title -%}
      {%- assign compare_at_price = variant.compare_at_price -%}
      {%- assign price = variant.price -%}
    {%- endif -%}
    {% assign grid_item_width = 'post-large--one-quarter medium--one-quarter small--one-half' %}
    {%- assign product_width = 300 -%}
      <div class="grid__item {{grid_item_width}}">
        {% include 'custom-related-product' %}
      </div>
    {% endfor %}
  </div>

{% endif %}

{% schema %}
{
  "name": {
  "en": "Related Product"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_product",
      "label": {
      "en": "Show Related Product"
      }
    },   
    {
      "type": "text",
      "id": "text_title",
      "label":  {
          "en":"Related Product Heading"
      }
    }   
  ],
  "max_blocks": 4,
  "blocks": [
    {
    "type": "text",
    "name": {
        "en": "Product"
    },
      "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": {
          "en": "Product"
        }  
      }
      ]
    }
  ]
}
{% endschema %}
