{% case section.blocks.size %}
    {% when 0 %}

    {% when 1 %}
        {% assign column_width = 'text-center' %}
    {% when 2 %}
        {% assign column_width = 'post-large--one-half medium--one-half small--one-half' %}
    {% when 3 %}
        {% assign column_width = 'post-large--one-third medium--one-third small--one-whole' %}
{% endcase %}


{% if section.settings.show_footer_top %}
    <div class="top-footer small--text-center" role="contentinfo">
        <div class="wrapper">
            <div class="grid-uniform">
                {% for block in section.blocks %}
                <div class="grid__item {{ column_width }}">
                    <div class="footertop--icons_container">
                        <div class="icons-thumb icons-left">
                            {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                            <img class="gallery__image lazyload"  data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto"
                            alt="{{ block.settings.image.alt | escape }}">
                        </div>
                        <div class="text-content text-left">
                            <h3 class="h4">{{ block.settings.title | escape }}</h3>
                            <div class="rte">{{ block.settings.richtext }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": {
    "en": "Footer Top"
    },
    "max_blocks": 3,
    "settings": [
        {
        "type": "checkbox",
        "id": "show_footer_top",
        "label":     {
            "en": "Footer Top"
            }
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": {
                "en": "Text"
            },
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": {
                    "en": "Icon"
                    }
                },
                {
                    "type": "text",
                    "id": "title",
                        "label": {
                        "en": "Heading"
                    },
                    "default": {
                    "en": "Contact us"
                    }
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": {
                        "en": "Text"
                    }
                }
            ]
        }
    ]
}
{% endschema %}