{% if section.settings.show_bestsellers %}  
   <header class="section-header">
        <h2 class="section-header__title">{{ section.settings.bestsellers_title}}</h2>
    </header>
      
    {% case section.settings.grid %}
    {% when '2' %}
        {%- assign collection_item_width = 'small--one-whole medium--one-half post-large--one-half' -%}
        {%- assign collection_width = 625 -%}
    {% when '3' %}
        {%- assign collection_item_width = 'medium-down--one-half post-large--one-third' -%}
        {%- assign collection_width = 410 -%}
    {% when '4' %}
        {%- assign collection_item_width = 'medium-down--one-half post-large--one-quarter' -%}
        {%- assign collection_width = 330 -%}
    {% when '5' %}
        {%- assign collection_item_width = 'medium-down--one-half post-large--one-fifth' -%}
        {%- assign collection_width = 330 -%}
    {% endcase %}

    {% if section.settings.show_product_discount %}
      <span class="visually-hidden">
        <!-- Active Discount Code -->
        {{ section.settings.product_discount_code }}
      </span>
      <span class="visually-hidden collection_prod_discount" data-value="{{ section.settings.product_discount_multiplier }}">
        {{ section.settings.product_discount_multiplier }}
      </span>
    {% endif %}       
        
    <div class="grid-uniform" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
        {% if collections.bestsellers.products.size > 0 %}
        
            {% for product in collections.bestsellers.products limit: 20 %}

            {% assign featured = product %}

            {% assign on_sale = false %}
            {% assign sale_text = 'products.product.sale' | t %}
            {% if featured.compare_at_price > featured.price %}
              {% assign on_sale = true %}
            {% endif %}
            
            {% assign sold_out = true %}
            {% assign sold_out_text = 'products.product.sold_out' | t %}
            {% if featured.available %}
              {% assign sold_out = false %}
            {% endif %}
            
            {% assign on_clearance = false %}
            {% assign clearance_text = 'Clearance' %}
            {% if collection.title contains 'Clearance' %}
              {% assign on_clearance = true %}
            {% endif %} 

            {% if featured.title == '' %}
            {% comment %}add default state for product block in storefront editor{% endcomment %}
            {% capture product_title %}{{ 'home_page.onboarding.product_title' | t }}{% endcapture %}
          {% else %}
            {% capture product_title %}{{ featured.title | escape }}{% endcapture %}
          {% endif %}                      

            <div class="grid__item {{collection_item_width}}">
                <div class="bestsellers-wrap">

                    <div class="{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
                        <a href="{{ featured.url | within: collection }}" class="grid-link{% if section.settings.center_grid_link %} text-center{% endif %}">
                          <span class="grid-link__image{% if section.settings.show_sold_out_circle %} grid-link__image-sold-out{% endif %} grid-link__image--product">
                            {% if sold_out != true %}
                      
                              {% if on_clearance %}
                                  <span class="badge badge--clearance">
                                    <span class="badge__text{% if clearance_text.size > 7 %} badge__text--small{% endif %}">{{ 'Clearance'}}</span>
                                  </span>
                              {% else %}
                                {% if on_sale %}
                                <span class="badge badge--sale">
                                  <span class="badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
                                </span>
                                {% endif %}
                              {% endif %}
                      
                            {% endif %}
                            {% if sold_out %}
                              <span class="badge badge--sold-out">
                                <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
                              </span>
                            {% endif %}
                            <span class="badge badge--sale">
                              <span class="badge__text">{{ 'products.product.sale' | t }}</span>
                            </span>                                 
                            <span class="grid-link__image-centered">
                              {% if featured.title != '' %}
                                {% unless featured.featured_image == blank %}
                                  {% capture img_id %}ProductImage-{{ featured.featured_image.id }}{% endcapture %}
                                  {% capture wrapper_id %}ProductImageWrapper-{{ featured.featured_image.id }}{% endcapture %}
                                  {%- assign img_url = featured.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                  {% include 'swym-product-view', product: product %}<button class="swym-button swym-add-to-wishlist-view-product product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"></button>                      
                                  {% include 'image-style' with image: featured.featured_image, width: product_width, height: 480, wrapper_id: wrapper_id, img_id: img_id %}
                                  <div id="{{ wrapper_id }}" class="product__img-wrapper supports-js">
                                    <div style="padding-top:{{ 1 | divided_by: featured.featured_image.aspect_ratio | times: 100}}%;">
                                      <img id="{{ img_id }}"
                                           class="product__img lazyload"
                                           data-src="{{ img_url }}"
                                           data-widths="[150, 220, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                                           data-aspectratio="{{ featured.featured_image.aspect_ratio }}"
                                           data-sizes="auto"
                                           alt="{{ featured.featured_image.alt | escape }}">
                                              
                                  </div>
                                  </div>
                                {% else %}
                                  <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}" class="product__img">
                                {% endunless %}
                                <noscript>
                                  <img src="{{ featured.featured_image.src | img_url: 'large' }}" alt="{{ featured.featured_image.alt | escape }}" class="product__img">
                                </noscript>
                              {% else %}
                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                              {% endif %}
                            </span>
                          </span>
                          <div class="start-rating">
                            {% include 'star-rating' %}                    
                          </div>         
                          <p class="grid-link__title">{{ product_title }}</p>
                          {% if section.settings.vendor_enable %}
                            <p class="grid-link__title grid-link__vendor">{{ featured.vendor }}</p>
                          {% endif %}
                          {% if featured.title != '' %}
                          {%- assign min_price = product.price_min -%}
                          {%- assign max_price = product.price_max -%}


                          <p class="grid-link__meta">

                              {%comment%}
                              {% if on_sale %}
                              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                              <s class="grid-link__sale_price">{{ featured.compare_at_price | money }}</s>
                              {% endif %}
                              {%endcomment%}

                              {% if on_sale %}
                              <span class="collection_msrp_price_container">
                                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                <span class="collection_msrp_price">
                                  <s class="grid-link__sale_price">{{ featured.compare_at_price | money }}</s>
                                </span>
                              </span>
                              {% endif %}

                              <span class="collection_msrp_price_container">
                                {% if featured.price_varies %}
                                  {%comment%} // Original code {{ 'products.general.from_html' | t: price: price }}{%endcomment%}
                                  {%- comment -%}ORIGINAL PRICE: {%- endcomment -%}
                                  <span class="collection_msrp_price">
                                    {%- comment -%}{{ price }}
                                    From: {{ money_price_min }} - {{ money_price_max }}  {%- endcomment -%}                                  
                                  </span>                          
                                {% else %}
                                  {% if on_sale %}
                                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                                  {% else %}
                                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                                  {% endif %}
                                  {%- comment -%}{{ price }}{%- endcomment -%} 
                                {% endif %}
                              </span>
                              {%- comment -%}
                              <span class="collection_now_price">
                                Now: $<span class="collection_now_price_holder_min"></span> - $<span class="collection_now_price_holder_max"></span>
                              </span>      
                              {%- endcomment -%}   

                              {% capture price %}{{ featured.price | money }}{% endcapture %}
                              {%- assign money_price_min = min_price | money -%}
                              {%- assign money_price_max = max_price | money -%}

                              <span class="bestseller_divident_min visually-hidden">
                                {{min_price}}
                              </span>
                              <span class="bestseller_divident_max visually-hidden">
                                {{max_price}}
                              </span>                              
                              <span class="bestseller_msrp_price">
                                From: $<span class="bestseller_msrpprice_inner1"></span> - $<span class="bestseller_msrpprice_inner2"></span>
                              </span>
                              <span class="collection_now_price">
                                Now: {{ money_price_min }} - {{ money_price_max }}  
                              </span>                 
                            </p>
                          {% endif %}
                        </a>
                      </div>                  
                  
                </div>                          
            </div>  
            {% endfor %}

        {%comment%}
        {%- paginate collections.bestsellers.products by 20 -%} 
            {% if paginate.pages > 1 %}
                <hr class="hr--clear">
                <div class="text-center">
                {% include 'pagination-custom' %}
                </div>
            {% endif %}      
        {%- endpaginate -%}     
          {%endcomment%}       
        {% endif %}
    </div>    

    {% if section.settings.show_bestseller_btn %}
        <div class="viewall_collection_page text-center">
            <a href="{{ section.settings.bestseller_url }}" class="viewall_btn btn text-center">{{ section.settings.bestseller_btn_text }}</a>
        </div>    
    {% endif %}        

  {% endif %}
    {% schema %}
    {
      "name": {
        "en": "Best Seller Collection"
      },
      "settings": [
        {
          "type": "checkbox",
          "id": "show_bestsellers",
          "label": {
            "en": "Show Best Sellers"
          }
        },      
        {
            "type": "text",
            "id": "bestsellers_title",
            "label":  {
                "en":"Best Sellers"
            }
        },
        {
          "type": "select",
          "id": "grid",
          "label": {
            "de": "Kategorien per Reihe",
            "en": "Collections per row",
            "es": "Colecciones por fila",
            "fr": "Collections par rangée",
            "it": "Collezioni per riga",
            "ja": "行あたりのコレクション数",
            "nl": "Collecties per rij",
            "pt-BR": "Coleções por linha",
            "zh-CN": "每行产品系列数",
            "zh-TW": "每列商品系列數"
          },
          "default": "3",
          "options": [
            {
              "value": "2",
              "label": {
                "de": "2",
                "en": "2",
                "es": "2",
                "fr": "2",
                "it": "2",
                "ja": "2",
                "nl": "2",
                "pt-BR": "2",
                "zh-CN": "2",
                "zh-TW": "2"
              }
            },
            {
              "value": "3",
              "label": {
                "de": "3",
                "en": "3",
                "es": "3",
                "fr": "3",
                "it": "3",
                "ja": "3",
                "nl": "3",
                "pt-BR": "3",
                "zh-CN": "3",
                "zh-TW": "3"
              }
            },
            {
              "value": "4",
              "label": {
                "de": "4",
                "en": "4",
                "es": "4",
                "fr": "4",
                "it": "4",
                "ja": "4",
                "nl": "4",
                "pt-BR": "4",
                "zh-CN": "4",
                "zh-TW": "4"
              }
            },
            {
              "value": "5",
              "label": {
                "de": "5",
                "en": "5",
                "es": "5",
                "fr": "5",
                "it": "5",
                "ja": "5",
                "nl": "5",
                "pt-BR": "5",
                "zh-CN": "5",
                "zh-TW": "5"
              }
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_bestseller_btn",
          "label": {
            "en": "Show Bestsellers Button"
          }
        },    
        {
          "type": "text",
          "id": "bestseller_btn_text",
          "label": "Button Text"
        },         
        {
          "type": "url",
          "id": "bestseller_url",
          "label": "Button URL"
        },           
        {
          "type": "header",
          "content": {
            "en": "Product Discount"
          }
        },
        {
          "type": "checkbox",
          "id": "show_product_discount",
          "label": {
            "en": "Show product discount"
          }
        },    
        {
          "type": "text",
          "id": "product_discount_code",
          "label": "Type in your Discount Code"
        },         
        {
          "type": "text",
          "id": "product_discount_multiplier",
          "label": "Your Discount in Percentage.",
          "default": "Type number only e.g 30"
        }          
      ]
    }
    {% endschema %}
    