{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<header class="section-header">
  <h1 class="section-header__title">{{ 'collections.general.title' | t }}</h1>
</header>

{% case section.settings.grid %}
  {% when '2' %}
    {%- assign collection_item_width = 'small--one-whole medium--one-half post-large--one-half' -%}
    {%- assign collection_width = 625 -%}
  {% when '3' %}
    {%- assign collection_item_width = 'medium-down--one-half post-large--one-third' -%}
    {%- assign collection_width = 410 -%}
  {% when '4' %}
    {%- assign collection_item_width = 'medium-down--one-half post-large--one-quarter' -%}
    {%- assign collection_width = 330 -%}
  {% when '5' %}
    {%- assign collection_item_width = 'medium-down--one-half post-large--one-fifth' -%}
    {%- assign collection_width = 330 -%}
{% endcase %}

<div class="grid-uniform" data-section-id="{{ section.id }}" data-section-type="list-collections-template">

  {% if section.settings.display_type == 'all' %}
    {% case section.settings.sort %}
      {% when 'products_high' or 'products_low' %}
        {%- assign list_collections = collections | sort: 'all_products_count' -%}
      {% when 'date' or 'date_reversed' %}
        {%- assign list_collections = collections | sort: 'published_at' -%}
      {% else %}
        {%- assign list_collections = collections -%}
    {% endcase %}
    {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
      {%- paginate collections by 20 -%}
      {% for collection in list_collections %}
        {% assign featured = collection.handle %}
        <div class="grid__item {{collection_item_width}} text-center">
          {% include 'collection-grid-item' with collection_width: collection_width %}
        </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
      <hr class="hr--clear">
  
      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
      {% endif %}      
      {%- endpaginate -%}
    {% else %}
      {%- paginate collections by 20 -%}  
      {% for collection in list_collections reversed %}
        {% assign featured = collection.handle %}
        <div class="grid__item {{collection_item_width}} text-center">
          {% include 'collection-grid-item' with collection_width: collection_width %}
        </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
      <hr class="hr--clear">
  
      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
      {% endif %}      
      {%- endpaginate -%}
    {% endif %}
  {% else %}
    {% for block in section.blocks %}
      {% assign featured = collections[block.settings.collection].handle %}
      <div class="grid__item {{collection_item_width}} text-center">
        {% include 'collection-grid-item' with collection_width: collection_width %}
      </div>
    {% endfor %}
  {% endif %}
</div>


{% schema %}
{
  "name": {
    "de": "Kategorien-Liste Seite",
    "en": "Collections list page",
    "es": "Lista de colecciones",
    "fr": "Page des collections",
    "it": "Elenco collezioni",
    "ja": "コレクションリストのページ",
    "nl": "Pagina Collectielijst",
    "pt-BR": "Lista de coleções",
    "zh-CN": "产品系列列表页面",
    "zh-TW": "商品系列清單頁面"
  },
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "de": "Alle kategorien sind automatisch gelistet. Zum Ändern der Liste wählen Sie 'Ausgewählt' und fügen Sie Kategorien hinzu.",
        "en": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections.",
        "es": "Todas tus colecciones están enlistadas por defecto. Para personalizar tu lista, elige 'Seleccionadas' y agrega colecciones.",
        "fr": "Toutes vos collections sont listées par défaut. Pour personnaliser votre liste, cliquez sur « Sélection » et ajoutez des collections.",
        "it": "Tutte le collezioni vengono elencate per impostazione predefinita. Per personalizzare il tuo elenco, scegli \"Selezionato\" e aggiungi delle collezioni.",
        "ja": "すべてのコレクションがデフォルトで一覧表示されます。一覧をカスタマイズするには、「選択済み」を選択してコレクションを追加します。",
        "nl": "Standaard worden al uw collecties weergegeven. Kies Geselecteerd en voeg collecties toe om de lijst aan te passen.",
        "pt-BR": "Todas as suas coleções são listadas por padrão. Para personalizar sua lista, escolha \"Selecionado\" e adicione coleções.",
        "zh-CN": "默认情况下列出您的所有产品系列。若要自定义列表，请选择“已选择”并添加产品系列。",
        "zh-TW": "系統預設會將您所有的商品系列都列入清單。如果想自訂清單，請點選「已選取」並新增商品系列。"
      }
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": {
        "de": "Kategorien auswählen, die angezeigt werden sollen",
        "en": "Select collections to show",
        "es": "Selecciona colecciones para mostrar",
        "fr": "Sélectionner les collections à afficher",
        "it": "Seleziona le collezioni da mostrare",
        "ja": "表示するコレクションを選択する",
        "nl": "Collecties selecteren om weer te geven",
        "pt-BR": "Selecione coleções para exibir",
        "zh-CN": "选择要显示的产品系列",
        "zh-TW": "選取欲顯示的商品系列"
      },
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": {
            "de": "Alle",
            "en": "All",
            "es": "Todas",
            "fr": "Toutes",
            "it": "Tutti",
            "ja": "すべて",
            "nl": "Alle",
            "pt-BR": "Tudo",
            "zh-CN": "所有",
            "zh-TW": "全部"
          }
        },
        {
          "value": "selected",
          "label": {
            "de": "Ausgewählt",
            "en": "Selected",
            "es": "Seleccionadas",
            "fr": "Sélection",
            "it": "Selezionato",
            "ja": "選択済み",
            "nl": "Geselecteerd",
            "pt-BR": "Selecionado",
            "zh-CN": "已选",
            "zh-TW": "已選取"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": {
        "de": "Kategorien sortieren nach:",
        "en": "Sort collections by:",
        "es": "Ordenar colecciones por:",
        "fr": "Trier les collections par :",
        "it": "Ordina le collezioni per:",
        "ja": "コレクションの並べ替え方法:",
        "nl": "Collecties sorteren op:",
        "pt-BR": "Ordenar coleções por:",
        "zh-CN": "产品系列排序依据：",
        "zh-TW": "以下列方式排序商品系列："
      },
      "info": {
        "de": "Sortieren funktioniert nur, wenn 'Alle' ausgewählt ist",
        "en": "Sorting only applies when 'All' is selected",
        "es": "La función ordenar solo se aplica cuando se selecciona \"Todas\"",
        "fr": "Le tri ne s'applique que lorsque « Toutes » est sélectionné",
        "it": "L'ordinamento viene applicato solo quanto è selezionato \"Tutto\"",
        "ja": "「すべて」が選択されている場合にのみ並べ替えを適用する",
        "nl": "Sorteren is alleen van toepassing als Alles is geselecteerd",
        "pt-BR": "A classificação só se aplica quando \"Tudo\" está selecionado",
        "zh-CN": "仅在选择“全部”时应用排序",
        "zh-TW": "只有在選擇「全部」的時候才能排序"
      },
      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": {
            "de": "Produktanzahl, hoch zu niedrig",
            "en": "Product count, high to low",
            "es": "Recuento de productos, de mayor a menor",
            "fr": "Nombre de produits, par ordre décroissant",
            "it": "Conteggio decrescente prodotti",
            "ja": "商品数の多い順",
            "nl": "Aantal producten, van hoog naar laag",
            "pt-BR": "Contagem de produtos, alta para baixa",
            "zh-CN": "产品数量，从高到低",
            "zh-TW": "產品數量，從高到低"
          }
        },
        {
          "value": "products_low",
          "label": {
            "de": "Produktanzahl, niedrig zu hoch",
            "en": "Product count, low to high",
            "es": "Recuento de productos, de menor a mayor",
            "fr": "Nombre de produits, par ordre croissant",
            "it": "Conteggio crescente prodotti",
            "ja": "商品数の少ない順",
            "nl": "Aantal producten, van laag naar hoog",
            "pt-BR": "Contagem de produtos, baixa para alta",
            "zh-CN": "产品数量，从低到高",
            "zh-TW": "產品數量，從低到高"
          }
        },
        {
          "value": "alphabetical",
          "label": {
            "de": "Alphabetisch, A-Z",
            "en": "Alphabetically, A-Z",
            "es": "Alfabéticamente, A-Z",
            "fr": "Alphabétique, de A à Z",
            "it": "In ordine alfabetico, A - Z",
            "ja": "アルファベット順、 A-Z",
            "nl": "Alfabetisch: A-Z",
            "pt-BR": "Ordem alfabética, A–Z",
            "zh-CN": "按字母顺序排序，A-Z",
            "zh-TW": "依字母順序 A 到 Z"
          }
        },
        {
          "value": "alphabetical_reversed",
          "label": {
            "de": "Alphabetisch, Z-A",
            "en": "Alphabetically, Z-A",
            "es": "Alfabéticamente, Z-A",
            "fr": "Alphabétique, de Z à A",
            "it": "In ordine alfabetico, Z - A",
            "ja": "アルファベット順、 Z-A",
            "nl": "Alfabetisch: Z-A",
            "pt-BR": "Ordem alfabética, Z–A",
            "zh-CN": "按字母顺序排序，Z-A",
            "zh-TW": "依字母順序 Z 到 A"
          }
        },
        {
          "value": "date",
          "label": {
            "de": "Datum, alt zu neu",
            "en": "Date, old to new",
            "es": "Fecha: antiguo(a) a reciente",
            "fr": "Date, de la plus ancienne à la plus récente",
            "it": "Data, dal più vecchio al più recente",
            "ja": "古い商品順",
            "nl": "Datum: oud naar nieuw",
            "pt-BR": "Data, mais antiga primeiro",
            "zh-CN": "日期从旧到新",
            "zh-TW": "日期 (從舊到新)"
          }
        },
        {
          "value": "date_reversed",
          "label": {
            "de": "Datum, neu zu alt",
            "en": "Date, new to old",
            "es": "Fecha: reciente a antiguo(a)",
            "fr": "Date, de la plus récente à la plus ancienne",
            "it": "Data, dal più recente al più vecchio",
            "ja": "新着順",
            "nl": "Datum: nieuw naar oud",
            "pt-BR": "Data, mais recente primeiro",
            "zh-CN": "日期从新到旧",
            "zh-TW": "日期 (從新到舊)"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "grid",
      "label": {
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fr": "Collections par rangée",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "nl": "Collecties per rij",
        "pt-BR": "Coleções por linha",
        "zh-CN": "每行产品系列数",
        "zh-TW": "每列商品系列數"
      },
      "default": "3",
      "options": [
        {
          "value": "2",
          "label": {
            "de": "2",
            "en": "2",
            "es": "2",
            "fr": "2",
            "it": "2",
            "ja": "2",
            "nl": "2",
            "pt-BR": "2",
            "zh-CN": "2",
            "zh-TW": "2"
          }
        },
        {
          "value": "3",
          "label": {
            "de": "3",
            "en": "3",
            "es": "3",
            "fr": "3",
            "it": "3",
            "ja": "3",
            "nl": "3",
            "pt-BR": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "de": "4",
            "en": "4",
            "es": "4",
            "fr": "4",
            "it": "4",
            "ja": "4",
            "nl": "4",
            "pt-BR": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "de": "5",
            "en": "5",
            "es": "5",
            "fr": "5",
            "it": "5",
            "ja": "5",
            "nl": "5",
            "pt-BR": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      },
      "settings": [
        {
          "label": {
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fr": "Collection",
            "it": "Collezione",
            "ja": "コレクション",
            "nl": "Collectie",
            "pt-BR": "Coleção",
            "zh-CN": "收藏",
            "zh-TW": "商品系列"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
