{% if section.settings.image != blank %}
    <noscript>
    {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    </noscript>
    <div id="rugpad-logo" style="display: none;">
        <img
        class="rugpad-logo lazyload"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="{{ section.settings.image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.image.alt | escape }}">
    </div>
{% endif %}


{% schema %}
{
    "name": {
      "en": "Rug Pad Image"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "FREE Rug Pad Image"
      }
    ]
  }
{% endschema %}