{% if section.settings.show_bundle %}  

<div class="upsell-wrapper" style="display: none;">
  <div class="upsell-modal">
    <div class="modal-close">
      <a href="#" class="close-upsell proceedToCart">X</a>
    </div>

    <div class="bundle-header_title">
      {% if section.settings.text_title %}  
        <h2 class="text-center">{{ section.settings.text_title}}</h2>
      {% endif %}

      {% if section.settings.text_description %}
      {{ section.settings.text_description}}
      {% endif %}      
    </div>
       
    <ul class="tabs">
      {% for block in section.blocks %}
        {%- assign product = all_products[block.settings.featured_product] -%}
        {%- assign title = product.title -%}
        <li class="tab-link {% if forloop.first %}current{% endif %}" data-tab="{{title | split: ' ' | first | downcase}}">{{title}}</li>  
      {% endfor %}
    </ul>

      {% for block in section.blocks %}
      {%- assign product = all_products[block.settings.featured_product] -%}
      {%- assign variant = product.selected_or_first_available_variant -%}

      {%- if product == empty -%}
        {%- assign section_onboarding = true -%}
        {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
        {%- assign title = 'home_page.onboarding.product_title' | t -%}
        {%- assign compare_at_price = 2999 -%}
        {%- assign price = 1999 -%}
      {%- else -%}
        {%- assign section_onboarding = false -%}
        {%- assign vendor = product.vendor -%}
        {%- assign title = product.title -%}
        {%- assign compare_at_price = variant.compare_at_price -%}
        {%- assign price = variant.price -%}
      {%- endif -%}

      <div id="{{title | split: ' ' | first | downcase}}" class="modal-list-items tab-content {% if forloop.first %}current{% endif %}">
        {% include 'upsell-modal' %}
      </div>

      {% endfor %}
      

    <div style="clear:both;"></div>
    <div class="upsell-buttons">
      <a href="#" class="no-thanks close-upsell proceedToCart">No thanks!</a>
      <a href="/checkout" class="upsell-checkout">CHECKOUT</a>
    </div>
  </div>
</div>

{% endif %}

{% schema %}
{
  "name": {
  "en": "Product Bunle"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_bundle",
      "label": {
      "en": "Show Bundle"
      }
    },   
    {
      "type": "text",
      "id": "text_title",
      "label":  {
          "en":"Popup Heading"
      }
    },  
    {
      "type": "richtext",
      "id": "text_description",
      "label":  {
          "en":"Popup Description"
      }
    }    
  ],
  "max_blocks": 5,
  "blocks": [
    {
    "type": "text",
    "name": {
        "en": "Text"
    },
      "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": {
          "en": "Product"
        }  
      }
      ]
    }
  ]
}
{% endschema %}
