{% if section.settings.show_weeklydeals %} 
<header class="section-header">
<h2 class="section-header__title">{{ section.settings.weeklydeals_title}}</h2>
</header>
<div class="grid-uniform">
    {% case section.blocks.size %}
      {% when 1 %}
        {%- assign collection_item_width = 'one-half' -%}
        {%- assign collection_width = 625 -%}
      {% when 2 %}
        {%- assign collection_item_width = 'one-half' -%}
        {%- assign collection_width = 625 -%}
      {% when 3 or 6 or 9 or 12 %}
        {%- assign collection_item_width = 'medium-down--one-half one-third' -%}
        {%- assign collection_width = 410 -%}
      {% when 4 %}
        {%- assign collection_item_width = 'medium-down--one-half one-quarter' -%}
        {%- assign collection_width = 330 -%}
        {% when 5 or 10 or 15 %}
        {%- assign collection_item_width = 'small--one-half medium--one-third post-large--one-fifth' -%}
        {%- assign collection_width = 235 -%}        
    {% endcase %}

    {% for block in section.blocks limit: section.blocks.size %}
        {% assign product_item = all_products[block.settings.product] %}
        <div class="grid__item {{collection_item_width}}" {{ block.shopify_attributes }}>
            <a href="{{ product_item.url }}" class="grid-link" target="_blank">
                <span class="grid-link__image grid-link__image--collection">
                <span class="badge badge--sale offpromo_sale">
                  <span class="badge__text">Up to <span>70%</span> OFF</span>
                </span>                  
                    <span class="grid-link__image-centered img_promo">

                        {%- capture image_size -%}{{ collection_width }}x{{ collection_width }}{%- endcapture -%}
                        <div class="supports-js">
                          {{ product_item | img_url: image_size | img_tag: product_item.title }}
                        </div>

                    </span>
                </span>
                <span class="grid-link__title">{{ product_item.title}}</span>
                <span class="week-product_msrp_price">From: $<span class="week-product_msrp_price_inner"></span></span>
                <span class="weekprod_origprice visually-hidden">{{ product_item.price}}</span>
                <span class="collection_now_price week-product_price">Now: {{ product_item.price | money}}</span>
            </a>
        </div>
    {% endfor %}
</div>

  {% if section.settings.show_dealsbtn %}
  <div class="viewall_collection_page text-center deals">
    <a href="{{ section.settings.deals_url }}" class="viewall_btn btn text-center">{{ section.settings.deals_btn_text }}</a>
  </div>    
  {% endif %}   

{% endif %}
{% schema %}
{
    "name": "Weekly Deals",
    "max_blocks": 15,
    "settings": [
        {
          "type": "checkbox",
          "id": "show_dealsbtn",
          "label": {
          "en": "Show Deals Button"
          }
        },  
        {
          "type": "text",
          "id": "deals_btn_text",
          "label": "Button Text"
        },         
        {
          "type": "url",
          "id": "deals_url",
          "label": "Button URL"
        },                
        {
            "type": "checkbox",
            "id": "show_weeklydeals",
            "label": {
            "en": "Show Weekly Deals"
            }
        },        
        {
            "type": "text",
            "id": "weeklydeals_title",
            "label":  {
                "en":"Weekly Deals Title"
            }
        }  
    ],
    "blocks": [
      {
        "type": "weekly-deals",
        "name": "Weekly Deals",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}