.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}


.tipoRelatedBox * {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.3;
}

.tipoRelatedBox a:hover{
    text-decoration: none;
}

.tipoRelatedBox h2 {
  margin-bottom: 0.5em;
  border: none;
  text-transform: none;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
}
.tipoRelatedBox-description {
    margin-bottom: 1em;
}
.tipoRelatedBox-products-carousel-wrapper {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
}

.tipoRelatedBox-product_image {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.tipoRelatedBox-carousel_wrapper .tipoRelatedBox-product {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.tipoRelatedBox-product_image:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.tipoRelatedBox-product > a {
    display: block;
    position: relative;
}

.tipoRelatedBox-products-carousel .owl-nav .owl-prev, .tipoRelatedBox-products-carousel .owl-nav .owl-next {
    width: 28px;
    height: 45px;
    top: 40%;
    margin-top: -20px;
    user-select: none;
    position: absolute;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 2px;
    background: linear-gradient(rgb(231, 234, 240), rgb(247, 248, 250));
    cursor: pointer;
    pointer-events: all;
    opacity: 0.7
}
.tipoRelatedBox-products-carousel .owl-nav .owl-prev:hover, .tipoRelatedBox-products-carousel .owl-nav .owl-next:hover{
    opacity: 1;
}
.tipoRelatedBox-product_oldprice {
    color: #999;
    text-decoration: line-through;
    margin-left: 8px;
    font-weight: bold;
}
.tipoRelatedBox-products-carousel .owl-nav .owl-prev{
    left: -35px;
}
.tipoRelatedBox-products-carousel .owl-nav .owl-next {
    right: -35px
}


.tipoRelatedBox-products-carousel .owl-nav .owl-prev svg, .tipoRelatedBox-products-carousel .owl-nav .owl-next svg {
    width: 26px;
    height: 43px;
}

h3.tipoRelatedBox-product_title {
    margin-bottom: 7px;
    font-size: 1.2em;
}

p.tipoRelatedBox-product_description {
    margin-bottom: 10px;
    font-size: 1em;
}

span.tipoRelatedBox-product_price-container{
    display: block;
    margin-bottom: 10px;

}
span.tipoRelatedBox-product_price {
  font-weight: bold;
}

button.tipoRelatedBox-product_addtocart, button.tipoRelatedBox-addalltocart {
    height: 36px;
    display: block;
    width: 100%;
    line-height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: normal;
    margin-top: 0px;
    background-color: rgb(85, 123, 151);
    color: white;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
button.tipoRelatedBox-product_addtocart:hover, button.tipoRelatedBox-addalltocart:hover{
    background-color: #436076;
}

.tipoRelatedBox-products > .tipoRelatedBox-product {
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
    line-height: 65px;
    margin-bottom: 20px;
}
.tipoRelatedBox-template_2 select.tipoRelatedBox-product_variant_select{
    margin: 0
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products .tipoRelatedBox-product a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products .tipoRelatedBox-products_image .tipoRelatedBox-product > a {
    display: block;
    width: 70px;
    height: 0;
    padding-top: 125%;
    position: relative;
    overflow: hidden;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products_image .tipoRelatedBox-product {
    padding-right: 30px;
    position: relative;
    margin-bottom: 12px;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products_image .tipoRelatedBox-product:before {
    content: "+";
    display: inline-block;
    font-size: 1.5em;
    float: left;
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products-input .tipoRelatedBox-product_variants-container{
    padding: 0;
    margin-left: 12px;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-product.last:before, .tipoRelatedBox-template_2 .tipoRelatedBox-product:last-child:before{
    display: none;
}

.tipoRelatedBox-hide{
    display: none !important;
}
.tipoRelatedBox {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
}
.Polaris-Card__Section > .tipoRelatedBox {
    padding: 0;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products-input span.tipoRelatedBox-product_price-container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 12px;
}
ul.tipoRelatedBox-products-input {
    display: block;
    clear: both;
    padding-top: 15px;
}
ul.tipoRelatedBox-products-input li {
    margin-bottom: 6px;
    position: relative;
    padding-left: 25px;
    text-align: left !important;
}
ul.tipoRelatedBox-products-input li > *{
    display: inline-block;
    vertical-align: middle;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products {
    float: left;
    margin-right: 15px;
    overflow: hidden;
}
.tipoRelatedBox-product-form {
  display: flex;
  float: left;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
}
.tipoRelatedBox-carousel_wrapper {
    width: 100%;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-products {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tipoRelatedBox-product-form button.tipoRelatedBox-product_addtocart {
    margin-top: 10px;
}
.tipoRelatedBox-template_2 span.tipoRelatedBox-product_price {
    font-weight: bold;
}
.tipoRelatedBox-template_1 select.tipoRelatedBox-product_variant_select{
    margin-bottom: 10px
}
.tipoRelatedBox-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}
.tipoRelatedBox:after {
    content: "";
    display: block;
    clear: both;
}
select.tipoRelatedBox-product_variant_select {
    border-radius: 0 !important;
    display: block;
    -webkit-appearance: menulist;
    background-image: none;
    width: 100%;
    max-width: 100%;
    font-size: 1em;
    font-weight: normal;
    border: 1px solid rgb(232, 233, 235);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: left;
    vertical-align: baseline;
    margin: 2px 0px 10px;
    height: 2em;
    min-height: 2em;
    max-height: 2em;
    padding: 0px 10px;
    line-height: 1em;
}
.tipoRelatedBox-product_variants-container {
    padding-top: 3px;
    padding-bottom: 3px;
}
ul.tipoRelatedBox-products-input li input {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    height: auto;
}

ul.tipoRelatedBox-products-table {
    border: 1px solid #e3dfdf;
    border-bottom: none;
    margin-bottom: 30px;
    list-style: none;
    margin: 25px 0;
    padding: 0;
}

ul.tipoRelatedBox-products-table > li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3dfdf;
    display: flex;
    align-items: center;
}

.product_main > a, .product_main > span {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  align-items: center;
}
ul.tipoRelatedBox-products-table > li:after {
    content: "";
    display: block;
    clear: both;
}
ul.tipoRelatedBox-products-table > li > div, ul.tipoRelatedBox-products-table > li > span {
    padding-left: 10px;
    padding-right: 10px;
}
ul.tipoRelatedBox-products-table .tipoRelatedBox-product_variants-container{
    flex: 1 1 15%;
    min-width: 15%;
}
.narrow .hidden-narrow, .visible-narrow{
    display: none !important;
}
.narrow .visible-narrow{
    display: block !important;
}

ul.tipoRelatedBox-products-table .tipoRelatedBox-product_description {
    flex: 1 1 35%;
    min-width: 35%;
}
ul.tipoRelatedBox-products-table > li > span.tipoRelatedBox-product_price-container {
    text-align: center;
    margin-top: 5px;
    flex: 1 1 15%;
    min-width: 15%;
}
ul.tipoRelatedBox-products-table > li .product_main {
    position: relative;
    padding-left: 35px;
    flex: 1 1 35%;
    min-width: 35%;
    display: flex;
    align-items: center;
}
ul.tipoRelatedBox-products-table > li .product_main img {
    margin-right: 10px;
    max-width: 20%;
    min-width: 50px;
}
.tipoRelatedBox-template_3.narrow ul.tipoRelatedBox-products-table .tipoRelatedBox-product_variants-container.tipoRelatedBox-hidden{
    display: none;
}
ul.tipoRelatedBox-products-table > li .product_main input {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -7px;
    height: auto !important;
}
.tipoRelatedBox-template_3 .tipoRelatedBox-deactive .product_main > a, .tipoRelatedBox-template_3 .tipoRelatedBox-deactive > .tipoRelatedBox-product_variants-container,
.tipoRelatedBox-template_3 .tipoRelatedBox-deactive > .tipoRelatedBox-product_description, .tipoRelatedBox-template_3 .tipoRelatedBox-deactive > .tipoRelatedBox-product_price-container,
.tipoRelatedBox-template_2 .tipoRelatedBox-deactive > a, .tipoRelatedBox-template_2 .tipoRelatedBox-deactive > .tipoRelatedBox-product_variants-container,
.tipoRelatedBox-template_2 .tipoRelatedBox-deactive > .tipoRelatedBox-product_description, .tipoRelatedBox-template_2 .tipoRelatedBox-deactive > .tipoRelatedBox-product_price-container
{
    opacity: 0.4
}

.tipoRelatedBox-template_3 .tipoRelatedBox-product-form {
    float: right;
    line-height: 45px
}
.tipoRelatedBox-template_3 .tipoRelatedBox-product-form button.tipoRelatedBox-product_addtocart{
    display: inline-block;
    width: auto;
    margin-top: 8px

}
.tipoRelatedBox-template_3 .tipoRelatedBox-product-form .tipoRelatedBox-product_price{
    margin-right: 30px;
}
.tipoRelatedBox-template_3 .tipoRelatedBox-product-form .tipoRelatedBox-product_price,
.tipoRelatedBox-product-form .tipoRelatedBox-total_price {
    font-weight: bold;
}
.tipoRelatedBox-template_3.narrow ul.tipoRelatedBox-products-table > li .product_main{
    width: 70%
}
.tipoRelatedBox-template_3.narrow ul.tipoRelatedBox-products-table .tipoRelatedBox-product_description
{
    display: none
}
.tipoRelatedBox-template_3.narrow ul.tipoRelatedBox-products-table .tipoRelatedBox-product_variants-container{
    width: 30%;
}

.tipoRelatedBox-template_3 select.tipoRelatedBox-product_variant_select{
    max-width: 120px;
    margin: 0 auto;
}

span.tipoRelatedBox-label {
    position: absolute;
    padding: 7px 9px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    top: 5px;
    left: 5px;
    z-index: 9;
}
button.tipoRelatedBox-product_addtocart:disabled {
    opacity: 0.8;
    cursor: default;
}
.tipoRelatedBox-template_2 .tipoRelatedBox-product_variants-container.tipoRelatedBox-hidden{
    display: none !important;
}

ul.tipoRelatedBox-products-table span.tipoRelatedBox-label.tipoRelatedBox-label_sale {
  /*
    position: static;
    margin-left: 5px;
    display: inline-block;
    margin-top: 5px;
  */
}

span.tipoRelatedBox-label.tipoRelatedBox-label_sale{
    color: #fff;
    font-size: 0.8em;
    background: #bf0000;
}

span.tipoRelatedBox-label.tipoRelatedBox-label_sold{
    color: #fff;
    font-size: 0.8em;
    background: #636262;
    float: right;
    right: 0
}
.tipoRelatedBox-product-form button.tipoRelatedBox-addalltocart {
    display: inline-block;
    width: auto;
}

.tipoRelatedBox-products_image {
    display: flex;
    margin-right: 20px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}


.tipoRelatedBox-carousel_wrapper{
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
.tipoRelatedBox-template_1 .tipoRelatedBox-product_description {
    margin-bottom: 0.6rem;
}
.tipoRelatedBox-carousel_wrapper .owl-nav .owl-prev, .tipoRelatedBox-carousel_wrapper .owl-nav .owl-next {
    width: 28px;
    height: 45px;
    outline: none;
    top: 40%;
    margin-top: -20px;
    user-select: none;
    position: absolute;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 2px;
    background: linear-gradient(rgb(231, 234, 240), rgb(247, 248, 250));
    cursor: pointer;
    pointer-events: all;
    opacity: 0.7;
}
.tipoRelatedBox-carousel_wrapper .owl-nav .owl-next {
    right: -25px;
}
.tipoRelatedBox-carousel_wrapper .owl-nav .owl-prev {
    left: -25px;
}
@media screen and (max-width: 567px) {
  .tipoRelatedBox.tipoRelatedBox-template_3 .tipoRelatedBox-product_description{
    display: none;
  }
  ul.tipoRelatedBox-products-table > li .product_main{
    flex: 1 1 auto;
  }
}

.tipoRelatedBox:not(.loaded){
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  height: 0;
}
.tipoRelatedBox .tipoRelatedBox-product_title{
  color: #000000;
}
.tipoRelatedBox .tipoRelatedBox-product_description{
  color: #000000;
}
.tipoRelatedBox .tipoRelatedBox-product_price,
.tipoRelatedBox .tipoRelatedBox-total_price{
  color: #b12704;
}
.tipoRelatedBox .tipoRelatedBox-product_oldprice{
  color: #989898;
}
.tipoRelatedBox .tipoRelatedBox-product_addtocart{
  color: #ffffff;
  background-color: #6371c7;
}
.tipoRelatedBox .tipoRelatedBox-product_addtocart:hover{
  color: #FAFAFA;
  background-color: #3f4eae;
}
span.tipoRelatedBox-label.tipoRelatedBox-label_sale{
  color: #ffffff;
  background-color: #bf0000;
}
span.tipoRelatedBox-label.tipoRelatedBox-label_soldout{
  color: #ffffff;
  background-color: #797979;
}
#tipoRelatedBox-1940{
  max-width: 1340px;
  margin: 0 auto;
}
#tipoRelatedBox-1940 .tipoRelatedBox-title{
  color: #1d122d;
  text-align: left;
  font-size: 12px;
}
#tipoRelatedBox-1940 .tipoRelatedBox-description{
  color: #000000;
  text-align: left;
  font-size: 14px;
}

