<section class="page-header header-img" style="background:url('{{ article.image | img_url: 'master'}}');">

  {% comment %}
  {% if article.image %}
  <a href="{{ article.url }}" class="article__grid-image">
    {{ article | img_url: '345x' | img_tag: article.title }}
  </a>
  {% endif %}
  {% endcomment %}

  <div class="page-width">
    <div class="content">
      <h1>{{ article.title }}</h1>
      <a class="scroll-down" href="javascript:;" onclick="scrollmove();"></a>
    </div> 

    {% comment %}
    <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
    <span class="article__date">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </span>
    {% endcomment %} 


    <a href="{{ blog.url }}" class="button button-white-outline small return-link">Back to all Posts</a>
    {% include 'breadcrumb' %}

  </div>    

</section>

<article class="article-content-section" itemscope itemtype="http://schema.org/Article">
  <div class="page-width">
    <div class="grid">
    <div class="grid__item medium-up--one-whole">{% section 'article-template' %}</div>        
    <!-- <div class="grid__item medium-up--two-eighths right">{% section 'article-sidebar' %}</div> -->
    </div>
  </div>
</article>

<!-- <section class="article-comment-section">
  <div class="page-width">
    {% section 'comments-template' %}  
  </div>
</section> -->




