{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template-bc-original.liquid
{% endcomment %}

{% section 'collection-template-bc-original' %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // 
  theme.productStrings = {
    sortBy: '{{ collection.sort_by | default: collection.default_sort_by }}'
  }
</script>
