{% paginate collection.products by 20 %}
<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="{{ section.settings.sort_enable }}" data-tags-enabled="{{ section.settings.tags_enable }}"></div>
<div class="section-header section-header--breadcrumb">
        {% include 'breadcrumb' %}
      </div>
    
      <header class="section-header section-header--large">
        <h1 class="section-header__title{% if section.settings.tags_enable or section.settings.sort_enable %} section-header__title--left{% endif %}">{{ collection.title }} Rugs</h1>
        {% if section.settings.tags_enable or section.settings.sort_enable %}
        <div class="section-header__link--right">
          {% if section.settings.tags_enable %}
            {% include 'collection-tags' %}
          {% endif %}
          {% if section.settings.sort_enable %}
            {% include 'collection-sorting' %}
          {% endif %}
        </div>
        {% endif %}
      </header>
    
      {% if collection.description != blank %}
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
        <hr class="hr--clear hr--small">
      {% endif %}

{% if settings.collections_tags_enable %}
  {% include 'collection-tags' %}
{% endif %}

{% if collection.description != blank %}
  <div class="rte rte--header">
    {{ collection.description }}
  </div>
  <hr>
{% endif %}

<div class="grid-uniform grid-link__container">
        {% assign grid_item_width = 'wide--one-quarter large--one-quarter medium-down--one-half' %}
        {%- assign product_width = 335 -%}

  {% for product in collection.products %}{% if product.type == 'Product Fee' %}{% continue %}{% endif %}

    {% for variant_link in product.variants %}
    {% if variant_link.title contains collection.title %}
        {% assign product_link = variant_link.url %}
        {% assign wanted_var_price = variant_link.price %}
        {% assign wanted_var_available = variant_link.available %}
        {% assign wanted_var_compareprice = variant_link.compare_at_price %}
        {% break %}{%comment%}This brake stops the loop, making the url the FIRST variant that matches{%endcomment%}
    {%endif%}
    {% endfor %}

        {% include 'product-grid-item-2x3' %}

  {% else %}

    {% if shop.products_count == 0 %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid-uniform helper-content">
            {% assign index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign index = 1 %}
                {% when 8 %}
                  {% assign index = 2 %}
              {% endcase %}
              <div class="grid__item one-half large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                      {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ index }}.png{% endcapture %}
                      {{ imageUrl | img_tag }}
                    </span>
                  </span>
                  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
                  <p class="grid-link__meta">
                    <strong>$19.99</strong>
                  </p>
                </a>
              </div>
              {% assign index = index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}

  {% endfor %}

</div>

{% if paginate.pages > 1 %}
  <hr>

  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}
</div>
{% endpaginate %}


<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // 
  theme.productStrings = {
    sortBy: '{{ collection.sort_by | default: collection.default_sort_by }}'
  }
</script>
