{%- layout none -%}{%- if collection.all_products_count > 0 -%}{%- assign limit = 100 -%}{%- assign count = 0 -%}{%- paginate collection.products by 500 -%}[{%- for product in collection.products -%}{%- if product.available -%}{%- unless count == 0 -%},{%- endunless -%}{{-product | json-}}{%- assign count = count | plus: 1 -%}{%- if count >= limit -%}{%- break -%}{%- endif -%}{%- endif -%}{%- endfor -%}]{%- endpaginate -%}{%- else -%}[]{%- endif -%}
