<header class="page-header">
  <div class="grid-uniform">
    <div class="grid__item post-large--one-whole">
      <div class="cell text-center">
        <h1 class="section-header--title">{{ page.title }}</h1>
        <h2>What are the different types and styles of rugs we sell? Contact Us!</h2>
      </div>
    </div>
  </div>
</header>

<section class="contact-us-wrapper">
  <div class="grid-uniform">

    <div class="grid__item post-large--one-half">
        <div id="contact-form">
          {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}
          {{ form.errors | default_errors }}

          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="ContactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
  
          <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
  
          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
  
          <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
  
          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">
  
          {% endform %}

        </div>
    </div>

    <div class="grid__item post-large--one-half">
        <div class="large-5 medium-5 small-12 columns">
            <h4>Curious about our Rug Collection?</h4>
            <div class="info-box call-us">
              <div class="inner">    
                <p>
                    <strong>Call us:</strong> <br>
                    <a href="tel:8773813411">877-381-3411</a>
                </p>  
              </div>
            </div>
            <!--div class="info-box visit-us">
              <div class="inner">                    
                <p> <strong>Corporate Address</strong><br>
                  1008 Bendleton Trace<br>
                  Alpharetta, GA 30004 USA
                </p>                      
              </div>
            </div-->
            <div class="info-box email-us">
              <div class="inner">                      
                <p>
                    <strong>Email us:</strong> <br>
                   <a href="mailto:support@markandday.com">support@markandday.com</a>
                </p>
              </div>
            </div>               
            <div class="page-content--main">
              <p>If you would like any other questions answered, or if you're just curious about any of our Rugs, message us and we will be in touch (almost) immediately. Feel free to call us anytime and email to us about all your rugs needs or to buy from our fantastic range of rugs.</p>
              <p>Check our <a href="/pages/faqs">FAQs</a> and <a href="/pages/shipping-returns">Shipping &amp; Returns</a> sections</p>
            </div>  
            <div class="social-list-icons">
              {% include 'social-links' %}              
            </div>             
          </div>      
    </div>

  </div>
</section>
