<header class="section-header">
    <h1 class="section-header__title text-center">{{ page.title }}</h1>
</header>
<div class="content-max">
	<div class="row">
		<div class="col-md-12">
			{{ page.content }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% section 'faq-accordion' %}
		</div>
	</div>		
</div>