
<!-- Custom-Collections-Builder -->
<script> 
 const easy_collections = {}; 
easy_collections.baseUrl='https://www.easy-collections.com';
easy_collections.productId = '{{product.id}}';
easy_collections.shop = 'mark-day.myshopify.com'; 
</script>
<script src="{{ 'easy-coll-client.js' | asset_url }}"></script>
<!-- Custom-Collections-Builder end -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
{% section 'product_nocode-template' %}