<div class="section-header section-header--large">
  <h1 class="bc-sf-search-result-header section-header__title h2"></h1>
</div>

{% include 'search-bar' %}

<hr>

{% assign grid_item_width = 'wide--one-quarter large--one-quarter medium-down--one-half' %}
{%- assign product_width = 335 -%}
<div id="bc-sf-filter-wrapper">
  <div id="bc-sf-filter-tree-mobile">{% include 'bc-sf-filter-skeleton', type: 'button' %}</div>
  <div id="bc-sf-filter-tree">
    {% comment %} Include placeholder template {% endcomment %}
    {% include 'bc-sf-filter-tree-placeholder' %}
  </div>
  <div id="bc-sf-filter-right">
    <div id="bc-sf-filter-products" class="grid-uniform">
    {% comment %} Fix Shopify search term report {% endcomment %}
      {% paginate search.results by 2 %}
        {% if search.performed %}
          {% for item in search.results %}
            <div class="grid__item" style="display: none !important"></div>
          {% endfor %}
        {% endif %}
      {% endpaginate %}
    </div>

    <div class="text-center" id="bc-sf-filter-bottom-pagination"></div>
    <div id="bc-sf-filter-load-more"></div>
  </div>
</div>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} "Relevance" {% endunless %},
      search_result_header: {% assign temp = 'general.search.results_for_html' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'general.search.no_results_html' | t %} {% unless temp contains 'translation missing' %} {{ temp | json }} {% else %} 'No result' {% endunless %},

      sale: {{ 'products.product.sale' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      regular_price: {{ 'products.product.regular_price' | t | json }},
      sale_price: {{ 'products.product.sale_price' | t | json }},
      from_price: {{ 'products.general.from_html' | t | json }},
      homepage_product_title: {{ 'home_page.onboarding.product_title' | t | json }},
      breadcrumb_home_link: {{ 'general.breadcrumbs.home_link_title' | t | json }},
    },
    custom: {
      products_per_page: 24,
      grid_item_width: {% if grid_item_width != blank %} {{ grid_item_width | json }} {% else %} 'wide--one-fifth large--one-quarter medium-down--one-half' {% endif %},
      center_grid_link: false,
      show_sale_circle: true,
      show_sold_out_circle: true,
      vendor_enable: false,
      product_width: {% if product_width %} {{ product_width | json }} {% else %} '335' {% endif %},
      {% for num in (1..6) %}
      "placeholder_svg_tag_{{ num }}": {{ 'product-' | append: num | placeholder_svg_tag | json }},
      {% endfor %}
    }
  };

  // Declare Templates
  var bcSfFilterTemplate = {
      'soldOutClass': 'sold-out',
      'saleClass': 'on-sale',
      'textCenterClass': 'text-center',
      'imageSoldOutClass': 'grid-link__image-sold-out',
      'vendorHtml': {% render 'bc-sf-filter-html', layout: 'vendorHtml' %},
      // Grid Template
      'productGridItemHtml': {% include 'bc-sf-filter-html', layout: 'productGridItemHtml' %},

      // Pagination Template
      'previousActiveHtml': {% render 'bc-sf-filter-html', layout: 'previousActiveHtml' %},
      'previousDisabledHtml': {% render 'bc-sf-filter-html', layout: 'previousDisabledHtml' %},
      'nextActiveHtml': {% render 'bc-sf-filter-html', layout: 'nextActiveHtml' %},
      'nextDisabledHtml': {% render 'bc-sf-filter-html', layout: 'nextDisabledHtml' %},
      'pageItemHtml': {% render 'bc-sf-filter-html', layout: 'pageItemHtml' %},
      'pageItemSelectedHtml': {% render 'bc-sf-filter-html', layout: 'pageItemSelectedHtml' %},
      'pageItemRemainHtml': {% render 'bc-sf-filter-html', layout: 'pageItemRemainHtml' %},
      'paginateHtml': {% render 'bc-sf-filter-html', layout: 'paginateHtml' %},

      // Sorting Template
      'sortingHtml': {% render 'bc-sf-filter-html', layout: 'sortingHtml' %},
  };
</script>
