{%- layout none -%}[{%- if search.results_count > 0 -%}{%- paginate search.results by 100 -%}{%- assign isFirst = true -%}{%- for product in search.results -%}{%- if !shop.metafields.tipoRelatedProducts.hideOutOfStockProducts or product.available -%}{%- unless isFirst -%},{%- endunless -%}{%- assign isFirst = false -%}{{-product | json-}}{%- endif -%}{%- endfor -%}{%- endpaginate -%}{%- endif -%}]
